#table-t{
    width: 50%;
    border-collapse: collapse;
    margin:10px 0 0 25%;
}


#table-t .rojo {

    background-color: #ffc1c1;

}

#table-t th{
    border: 1px solid #a9a9a9;
    background-color: #dedede;
    font:normal 14.5px robotobold, Geneva, sans-serif;
    color: #060807;
    line-height:26px;
    text-align:center;
    padding:0 6px 0 6px;
}

#table-t th a {
    background-color: #dedede;
    font:normal 14.5px robotobold, Geneva, sans-serif;
    color: #060807;
    line-height:26px;
    text-align:center;
    padding:0 6px 0 6px;
}

#table-t th.mid {
    border-bottom:1px solid #a9a9a9;
    border-top:1px solid #a9a9a9;
    border-left:hidden;
    border-right:hidden;
    background-color: #dedede;
    font:normal 14.5px robotobold, Geneva, sans-serif;
    /*color: #060807;*/
    line-height:26px;
    text-align:center;
    padding:0 6px 0 6px;
}

#table-t td{
    border: 1px solid #a9a9a9;
    background-color: #fff;
    font:normal 13.5px robotolight, Geneva, sans-serif;
    color: #060807;
    line-height:26px;
    text-align:center;
    padding:0 6px 0 6px;
    height: 3rem;
}

#inputFilter {
    margin-right: 1% !important;
    width: 13rem !important;
}

.button {
    width: 4%;
}

.actions-list li a {
    padding: 0.4rem;
}

#menu-client {
    margin: 0;
    width: 100%;
}

