
*{
    margin:0;
    padding:0;
}

body, html {
    background: #ffffff; 
}

#container {
    margin: 0 auto;
}

#wrapper {
    /*overflow: hidden;*/
    height: 1%;
    clear: both;
}


.logo {
    width: 100%;
    height:66px;
    margin:39px 0px 12px 0px;
    display:block;
    position:relative;
    float:left;
}

.logo img {
    width: 100%;
}

.logoNorad {
    width: 100%;
    height:auto;
    /*margin:39px 0px 32px 0px;*/
    display:block;
    /*position:relative;*/
    float:left;
    text-align: center;
}

.logoNorad img {
/*    width: 25%;
    height: 25%;*/
}


.logoEmail {
    width: 40%;
    height:66px;
    float:right;
}

.sublogo {
    width: 100%;
    margin: 0px 20px 0px 71px;
    display:block;
    position:relative;
    float:right;
    text-align: 100%;
}

.sublogo .title {
    font:bold 24px Arial, Helvetica, sans-serif;
    color: #000;
    line-height:10px;
    text-align:center;
    padding-top:0.4em;
}

.sublogo .text {
    font:normal 10.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:13px;
    text-decoration:none;
    text-align:left;
    margin-top:1em;
    text-align: center;
}


.right {
    width: 350px;
    margin:45px 20px 0px 71px;
    display:block;
    position:relative;
    float:right;
}

.rightEmail {
    width: 50%;
    margin:45px 20px 0px 71px;
    display:block;
    /*position:relative;*/
    float:right;
}

.right .title {
    font:bold 24px Arial, Helvetica, sans-serif;
    color: #000;
    line-height:10px;
    text-align:center;
    padding-top:0.4em;
}

.right .text {
    font:normal 10.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:13px;
    text-decoration:none;
    text-align:left;
    margin-top:1em;
    text-align: center;
}

.certificate-title {
    width: 100%;
    text-align: center;
    font:bold 17px Arial, Helvetica, sans-serif;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
}

.center {
    width: 700px;
    margin:10px 20px 0px 71px;
    display:block;
    position:relative;
    float:right;
}

.center .title {
    font:bold 17px Arial, Helvetica, sans-serif;
    color: #000;
    line-height:10px;
    text-align:center;
    padding-top:0.4em;
}

.center .text {
    font:normal 10.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:13px;
    text-decoration:none;
    text-align:left;
    margin-top:1em;
    text-align: center;
}



/* body */				

.informe #container {
    margin: 0px auto;
    background-position:center;
}


.informe #container #main {
    width: 100%;
    margin: 30px 0px 30px 0px;
    display:block;
    position:relative;
    float: left;

}
.informe #container #main .txt {
    width: 640px;
    margin: 0px 0px 0px 0px;
    text-align:center;
    display:block;
    position:relative;
    float: left;
}	

.informe #container #main .txt h1 {
    font:bold 24px Arial, Helvetica, sans-serif;
    color: #000;
    line-height:10px;
    text-align:center;
}

.informe #container #main .txt .text1 {
    font:bold 10.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:13px;
    text-decoration:none;
    text-align:center;
    text-transform:uppercase;
}

.informe #container #main .txt .text2 {
    font:normal 14.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:center;
}

.informe #container #main .tabla {
    width: 100%;
    margin: 10px 0px 20px 0px;
    text-align:left;
    float: left;
    padding-left: 5%;
}	

.informe #container #main .tabla .column-list-left {
    width: 50%;
    margin: 0px 0px 0px 0px;
    text-align:left;
    float: left;
}

.informe #container #main .tabla .column-list-left .column-list {
    width: 100%;
    margin: 0px 0px 0px 0px;
    text-align:left;
    float: left;
}	


.informe #container #main .tabla .column-list-left .column-list .title {
    width:40%;
    text-align:left;
    float: left;
}

.informe #container #main .tabla .column-list-left .column-list .title span {
    font:normal 10.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:left;
    text-transform:uppercase;
}

.informe #container #main .tabla .column-list-left .column-list .texto {
    width:55%;
    text-align:left;
    margin: 0px 0px 0px 5%;
    float: left;
}


.informe #container #main .tabla .column-list-left .column-list .texto span {
    font:normal 12px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:left;
}

/**/

.informe #container #main .tabla .column-list-right {
    width: 50%;
    margin: 0px 0px 0px 0px;
    text-align:left;
    float: left;
}

.informe #container #main .tabla .column-list-right .column-list {
    width: 100%;
    margin: 0px 0px 0px 0px;
    text-align:left;
    float: left;
}	


.informe #container #main .tabla .column-list-right .column-list .title {
    width:40%;
    text-align:left;
    float: left;
}

.informe #container #main .tabla .column-list-right .column-list .title span {
    font: normal 10.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:left;
    text-transform:uppercase;
}

.informe #container #main .tabla .column-list-right .column-list .texto {
    width:55%;
    text-align:left;
    margin: 0px 0px 0px 3%;
    display:block; 
    position:relative;
    float: left;
}


.informe #container #main .tabla .column-list-right .column-list .texto span {
    font:normal 12px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:left;
}

/**/

.informe #container #main .tablaFull {
    width: 100%;
    margin: 10px 0px 20px 0px;
    text-align:left;
    float: left;
    padding-left: 5%;
}

.informe #container #main .tablaFull .column-list-full {
    width: 100%;
    margin: 10px 0px 0px 0px;
    text-align:left;
    float: left;
}

.informe #container #main .tablaFull .column-list-full .column-list {
    width: 100%;
    margin: 10px 0px 0px 0px;
    text-align:left;
    float: left;
}	


.informe #container #main .tablaFull .column-list-full .column-list .title {
    width:25%;
    text-align:left;
    float: left;
}

.informe #container #main .tablaFull .column-list-full .column-list .title span {
    font:normal 10.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:left;
    text-transform:uppercase;
}

.informe #container #main .tablaFull .column-list-full .column-list .texto {
    width:73%;
    text-align:left;
    margin: 0px 0px 0px 0px;
    float: left;
}

.informe #container #main .tablaFull .column-list-full .column-list .texto span {
    font:normal 12px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:left;
}


/**/

.informe #container #main .tablaFull .column-list-full .column-list .title_full {
    width:100%;
    text-align:left;
    float: left;
}

.informe #container #main .tablaFull .column-list-full .column-list .title_full span {
    font:normal 10.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:left;
    text-transform:uppercase;
}

.informe #container #main .tablaFull .column-list-full .column-list .text_full {
    width:100%;
    text-align:left;
    margin: 0px 0px 0px 0px;
    float: left;
}

.informe #container #main .tablaFull .column-list-full .column-list .text_full span {
    font:normal 12px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:left;
}

/**/


.informe #container #main .tablaFull .column-list-full .column-list .main_title {
    width:25%;
    text-align:left;
    float: left;
}

.informe #container #main .tablaFull .column-list-full .column-list .main_title span {
    font:normal 10.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:left;
    text-transform:uppercase;
}

.informe #container #main .tablaFull .column-list-full .column-list .description {
    width:50%;
    text-align:left;
    margin: 0px 0px 0px 0px;
    float: left;
}

.informe #container #main .tablaFull .column-list-full .column-list .description span {
    font:normal 10.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:left;
}

.informe #container #main .tablaFull .column-list-full .column-list .value {
    width:23%;
    text-align:left;
    margin: 0px 0px 0px 0px;
    float: left;
}

.informe #container #main .tablaFull .column-list-full .column-list .value span {
    font:normal 13px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:left;
}


/**/

.informe #container #main .tabla .column-list .texto .testid {
    font:bold 12px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:14.5px;
    text-decoration:none;
    text-align:left;
}
.informe #container #main .raya {
    width: 640px;
    height:2px;
    /*background:#000;*/
    margin: 5px 0px 15px 0px;
    text-align:left;
    display:block;
    position:relative;
    float: left;
}	

.informe #container #main .raya2 {
    width: 640px;
    height:1px;
    /*background:#000;*/
    margin: 15px 0px 0px 0px;
    text-align:left;
    display:block;
    position:relative;
    float: left;
}	

.rayastxt {
    width: 100%;
    margin: 0px 0px 0px 0px;
    text-align:left;
    display:block;
    position:relative;
    float: left;
    text-align: justify;
    text-justify: inter-word;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1em 0em 1em 0em;
    font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
    font-size: 11px;
}

.informe #container #main .rayastxt p {
    /*font:normal 13.5px Arial, Helvetica, sans-serif;*/
    color: #000000;
    line-height:16px;
    text-decoration:none;
    text-align:left;
}

.informe #container #main .testid {
    width: 240px;
    margin: 20px 0px 0px 400px;
    text-align:left;
    display:block;
    position:relative;
    float: left;
}


.informe #container #main .testid p {
    font:normal 11px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:16px;
    text-decoration:none;
    text-align:left;
}



.informe #container #main .summary {
    width: 480px;
    margin: 10px 0px 5px 80px;
    text-align:left;
    display:block;
    position:relative;
    float: left;
}					

.informe #container #main .summary table.gridtable {
    font:normal 14.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:left;
    width:470px;
    border-width: 3px;
    border-style: solid;
    border-color: #000;
    border-collapse: collapse;
    display:block;
    position:relative;
    float:left;
}



.informe #container #main .summary table.gridtable th.tit {
    width:470px;
    height:30px;
    vertical-align:middle;
    text-align:center;
    font:normal 18px Arial, Helvetica, sans-serif;
    color: white;
    background-color: #3E3E3E;
    line-height:18px;
    text-decoration:none;
}

.informe #container #main .summary table.gridtable td.izq {
    border-width: 1px;
    border-style: solid;
    border-color: #3E3D40;
    padding:0px 5px 0 5px ;
    width:270px;
    height:20px;
    vertical-align:middle;
    text-align:left;
    border-top:hidden;
    border-bottom:hidden;
    border-left:hidden;
}

.informe #container #main .summary table.gridtable td.izq-top {
    border-width: 1px;
    border-style: solid;
    border-color: #3E3D40;
    padding:0px 5px 0 5px ;
    width:270px;
    height:20px;
    vertical-align:middle;
    text-align:left;
    border-bottom:hidden;
    border-left:hidden;
}

.informe #container #main .summary table.gridtable td.der-top {
    border-width: 1px;
    border-style: solid;
    border-color: #3E3D40;
    padding:0px 5px 0 5px ;
    width:200px;
    height:20px;
    text-align:center;
    vertical-align:middle;
    border-bottom:hidden;
    border-right:hidden;
    font:bold 14.5px Arial, Helvetica, sans-serif;
}

.informe #container #main .summary table.gridtable td.der {
    border-width: 1px;
    border-style: solid;
    border-color: #3E3D40;
    padding:0px 5px 0 5px ;
    width:200px;
    height:20px;
    text-align:center;
    vertical-align:middle;
    border-top:hidden;
    border-bottom:hidden;
    border-right:hidden;
    font:bold 14.5px Arial, Helvetica, sans-serif;
}


.informe #container #main .column-com {
    width: 480px;
    margin: 0px 0px 17px 80px;
    text-align:left;
    display:block;
    position:relative;
    float: left;
}	

.informe #container #main .column-com p {
    font:normal 14.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:left;
}

.informe #container #main .cuadro {
    width: 100%;
    /*    margin: 15px 0px 20px 45px;*/
    margin: 0px 0px 0px 0px;
    text-align:left;
    display:block;
    position:relative;
    float: left;
}					

.informe #container #main .cuadro table.hourly {
    font:normal 14.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:left;
    width:100%;

    border-collapse: collapse;
    display:block;
    position:relative;
    float:left;
}

.borderRight {
    /*border-right:#3E3D40 solid 1px;*/
}

.informe #container #main .cuadro table.hourly th.tit {
    height:30px;
    vertical-align:middle;
    text-align:center;
    font:bold 14.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    /*    border-top: #3E3D40 solid 1px;
        border-left: #3E3D40 solid 1px;
        border-right: #3E3D40 solid 1px;*/
}

.indTit {
    vertical-align:middle;
    text-align:center;
    font:normal 14.5px Arial, Helvetica, sans-serif;
    color: black;
    line-height:24px;
    background:#F2F2F2;
}

ul.references {
    list-style-type: none;
}

th.tit {
    width:470px;
    height:30px;
    vertical-align:middle;
    text-align:center;
    font:normal 18px Arial, Helvetica, sans-serif;
    color: black;
    background-color: #F2F2F2;
    line-height:18px;
    text-decoration:none;
}

.tblindex {
    vertical-align:middle;
    text-align:right;
    padding:0 2px 0 0;
    font:bold 13.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    /*border-right: #3E3D40 solid 1px;*/
    background:#F2F2F2;
}

.tblItem {
    vertical-align:middle;
    text-align:center;
    font:bold 13.5px Arial, Helvetica, sans-serif;
    color: #3f3f3f;line-height:18px;
    /*border-right: #3E3D40 solid 1px;*/
}

.informe #container #main .cuadro table.hourly th.none {
    width:40px;
    height:30px;
    vertical-align:middle;
    text-align:center;
    font:normal 14.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    border:none;
}

.informe #container #main .cuadro table.hourly td.tit {
    padding:10px 18px 10px 18px ;
    vertical-align:middle;
    text-align:center;
    font:normal 14.5px Arial, Helvetica, sans-serif;
    color: #3f3f3f;
    line-height:18px;
    border-width: 1px;
    border-style: solid;
    border-color: #3E3D40;
    border-top:hidden;
    border-bottom:hidden;
    border-left:hidden;
    background:#F2F2F2;

}

.informe #container #main .cuadro table.hourly td.tit-left {

    vertical-align:middle;
    text-align:center;
    font:normal 14.5px Arial, Helvetica, sans-serif;
    color: #3f3f3f;
    line-height:24px;
    /*    border-style: solid;
        border-color: #3E3D40;
        border-top-width:3px;
        border-right-width:1px;
        border-bottom-width:3px;
        border-left-width:3px;*/
    background:#F2F2F2;
}

.informe #container #main .cuadro table.hourly td.tit-right {
    vertical-align:middle;
    text-align:center;
    font:normal 14.5px Arial, Helvetica, sans-serif;
    color: #3f3f3f;
    line-height:24px;
    /*    border-style: solid;
        border-color: #3E3D40;
        border-top-width:3px;
        border-right-width:3px;
        border-bottom-width:3px;
        border-left-width:1px;*/
    background:#F2F2F2;
}

.informe #container #main .cuadro table.hourly td.tit-none {

    vertical-align:middle;
    text-align:center;
    font:normal 14.5px Arial, Helvetica, sans-serif;
    color: #3f3f3f;
    border:hidden;

}



.informe #container #main .cuadro table.hourly td.tit-mid {

    vertical-align:middle;
    text-align:center;
    font:normal 14.5px Arial, Helvetica, sans-serif;
    color: #3f3f3f;
    line-height:24px;
    /*    border-style: solid;
        border-color: #3E3D40;
        border-top-width:3px;
        border-right:none;
        border-bottom-width:3px;
        border-left-width:1px;*/
    background:#F2F2F2;
}

.informe #container #main .cuadro table.hourly td.t-left {
    vertical-align:middle;
    text-align:right;
    padding:0 2px 0 0;
    font:bold 13.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    /*    border-style: solid;
        border-color: #3E3D40;
        border-top-width:1px;
        border-right-width:3px;
        border-bottom-width:1px;
        border-left-width:1px;*/
    background:#F2F2F2;
}

.informe #container #main .cuadro table.hourly td.t-mid-top {
    vertical-align:middle;
    text-align:center;
    font:normal 13.5px Arial, Helvetica, sans-serif;
    color: #3f3f3f;
    line-height:18px;
    /*    border-style: solid;
        border-color: #3E3D40;
        border-top-width:1px;
        border-right:none;
        border-bottom-width:1px;*/
    /*border-left-width:1px;*/
}

.informe #container #main .cuadro table.hourly td.t-mid-top-bk {
    vertical-align:middle;
    text-align:center;
    font:normal 13.5px Arial, Helvetica, sans-serif;
    color: #3f3f3f;
    line-height:18px;
    /*    border-style: solid;
        border-color: #3E3D40;
        border-top-width:1px;
        border-right:none;
        border-bottom-width:1px;
        border-left-width:1px;*/
    background:#F2F2F2;
}

.informe #container #main .cuadro table.hourly td.t-mid-top-strong {
    vertical-align:middle;
    text-align:center;
    font:bold 13.5px Arial, Helvetica, sans-serif;
    color: #3f3f3f;
    line-height:18px;
    /*    border-style: solid;
        border-color: #3E3D40;
        border-top-width:1px;
        border-right:none;
        border-bottom-width:1px;
        border-left-width:1px;*/
}

.informe #container #main .cuadro table.hourly td.t-right {
    vertical-align:middle;
    text-align:center;
    font:normal 13.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    /*    border-style: solid;
        border-color: #3E3D40;
        border-top-width:1px;
        border-left-width:1px;
        border-bottom-width:1px;
        border-right-width:3px;*/
}

.informe #container #main .cuadro table.hourly td.t-mid-top-b {
    vertical-align:middle;
    text-align:center;
    font:normal 13.5px Arial, Helvetica, sans-serif;
    color: #3f3f3f;
    line-height:18px;
    /*    border-style: solid;
        border-color: #3E3D40;
        border-top-width:1px;
        border-right:none;
        border-bottom-width:3px;
        border-left-width:1px;*/
}

.informe #container #main .cuadro table.hourly td.t-mid-top-bk-b {
    vertical-align:middle;
    text-align:center;
    font:normal 13.5px Arial, Helvetica, sans-serif;
    color: #3f3f3f;
    line-height:18px;
    /*    border-style: solid;
        border-color: #3E3D40;
        border-top-width:1px;
        border-right:none;
        border-bottom-width:3px;
        border-left-width:1px;*/
    background:#F2F2F2;
}

.informe #container #main .cuadro table.hourly td.t-mid-top-strong-b {
    vertical-align:middle;
    text-align:center;
    font:bold 13.5px Arial, Helvetica, sans-serif;
    color: #3f3f3f;
    line-height:18px;
    /*    border-style: solid;
        border-color: #3E3D40;
        border-top-width:1px;
        border-right:none;
        border-bottom-width:3px;
        border-left-width:1px;*/
}

.informe #container #main .cuadro table.hourly td.t-right-b {
    vertical-align:middle;
    text-align:center;
    font:normal 13.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    /*    border-style: solid;
        border-color: #3E3D40;
        border-top-width:1px;
        border-left-width:1px;
        border-bottom-width:3px;
        border-right-width:3px;*/
}

.informe #container #main .radon-concentrations {
    width: 550px;
    height:278px;
    margin: 20px 0px 0px 45px;
    text-align:left;
    display:block;
    position:relative;
    float: left;
}	

.informe #container #main .radon-vs-baro {
    width: 550px;
    height:274px;
    margin: 20px 0px 0px 45px;
    text-align:left;
    display:block;
    position:relative;
    float: left;
}	

.informe #container #main .radon-cuadro {
    width: 100%;
    margin: 20px 0px 0px 0px;
    text-align:left;
    display:block;
    position:relative;
    float: left;
    text-align: justify;
    text-justify: inter-word;
}	

.informe #container #main .radon-cuadro p {
    font:normal 12.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:14px;
    padding:5px;
    margin:0 0 10px 0;
    text-align: justify;
    text-justify: inter-word;
}

.txtGraphics {
    width: 100%;
    margin: 0px 0px 0px 0px;
    text-align:left;
    display:block;
    position:relative;
    float: left;
    text-align: justify;
    text-justify: inter-word;
    padding: 1em 0em 1em 0em;
    font:normal 12pt Arial, Helvetica, sans-serif;
}

.informe #container #main .fintxt {
    width: 640px;
    margin: 40px 0px 0px 0px;
    text-align:left;
    display:block;
    position:relative;
    float: left;
}	

.informe #container #main .fintxt h3 {
    font:bold 16px Arial, Helvetica, sans-serif;
    color: #000;
    line-height:20px;
    text-align:left;
}

.informe #container #main .fintxt h4 {
    font:bold 16px Arial, Helvetica, sans-serif;
    color: #000;
    line-height:20px;
    text-align:left;
    margin:30px 0 0px 0;
}

.informe #container #main .fintxt .textf {
    font:normal 14.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:left;
    margin:20px 0 0px 0;
}	

.informe #container #main .fintxt .textf a {
    font:bold 14.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:left;
    margin:20px 0 0px 0;
}

.informe #container #main .fintxt .textf a:hover {
    font:bold 14.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:underline;
    text-align:left;
    margin:20px 0 0px 0;
}

.informe #container #main .fintxt .bullet {
    font:normal 14.5px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height:18px;
    text-decoration:none;
    text-align:left;
    margin:20px 20px 0px 20px;
}

img.report-img{
    width: 100%;
    max-width:100%;
}

.information {
    width: 100%;
    float: left;
    border-bottom: 1px solid black;
}

.information-half {
    width: 49%;
    float: left;
}

.information-half .title {
    font:normal 15pt Arial, Helvetica, sans-serif;
    text-align: center;
}

.information-half .content {
    font:normal 10pt Arial, Helvetica, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    padding:0.5em;
}

.information-half .content p {
    padding:0.5em;
}

.information-half .content .listFirstLevel {
    margin-left:5em;
}

.information-half .content .listSecondLevel {
    margin-top: 1em;
    margin-left:10em;
    list-style-type: none;
}

.information-half .content .listSecondLevel li {
    margin-bottom: 1em;
    text-decoration: underline;
    color: blue;
}

.information-half .scratched {
    text-decoration: underline;
}

.footer {
    font:normal 8.5px Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
}

.footer div{
    float:left;
    width: 46%;
}


#reports_table_content {
    padding-left:4em; font:normal 12pt Arial, Helvetica, sans-serif;
}

#reports_table_content table {
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
    /*border: 0px solid black;*/
}

#reports_table_content td, #reports_table_content th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#reports_table_content th {
    border-bottom: 2px solid black;
}







#reports_table_no_lines {
    padding-left:2em;
    /*font:normal 28pt Arial, Helvetica, sans-serif;*/
}

#reports_table_no_lines table {
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
    font-weight: lighter;
    /*border: 0px solid black;*/
}

#reports_table_no_lines th {
    border-bottom: 0px solid black;
    text-align: left;
    padding: 8px;
    font: 14px Arial, Helvetica, sans-serif;
}

#reports_table_no_lines p {
    font: 14px Arial, Helvetica, sans-serif;
}




#receiptHeader { 
    width: 100%;
    float: left;
}

#receiptHeaderLeft {
    width:65%;
    float: left;
    /*text-align: left;*/
}

#receiptHeaderRight {
    width:30%;
    float: left;
    /*padding-left: 4rem;*/
    /*text-align: right;*/
}

.receiptTblItem {
    vertical-align:middle;
    text-align:center;
    font: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    height:4rem;
    color: #3f3f3f;
    /*line-height: 10rem;*/
}

.receiptTblItemDesc {
    vertical-align:middle;
    text-align:right;
    font: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    height:4rem;
    color: #3f3f3f;
    /*line-height: 10rem;*/
}

.large {
    width:80rem;
}

.receiptTit {
    width:470px;
    height:3rem;
    vertical-align:middle;
    text-align:center;
    font:normal 2rem Arial, Helvetica, sans-serif;
    color: black;
    background-color: #F2F2F2;
    line-height:18px;
    text-decoration:none;
}

.receiptTot {
    width:470px;
    height:3rem;
    vertical-align:middle;
    text-align:center;
    font:normal 2rem Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    line-height:18px;
    text-decoration:none;
    border-top: 3px solid black;
}

.receiptFooter {
    font:normal 8.5px Arial, Helvetica, sans-serif;
    position:absolute;
    width: 100%;
    bottom: 0;
}

.receiptFooter div{
    float:left;
    width: 46%;
}

.receipt_legend {
    text-align: center;
    margin-top: 3rem;
}

/*#reports_table_content tr:nth-child(even) {
    background-color: #dddddd;
}*/
