*{
    margin:0;
    padding:0;
}


@font-face {
    font-family: 'HelveticaNeueLTStdRegular';
    src: url('font/helveticaneueltstd-roman-webfont.eot');
    src: url('font/helveticaneueltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
        url('font/helveticaneueltstd-roman-webfont.woff') format('woff'),
        url('font/helveticaneueltstd-roman-webfont.ttf') format('truetype'),
        url('font/helveticaneueltstd-roman-webfont.svg#HelveticaNeueLTStdRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.HelveticaNeueLTStdRegular {font-weight: 100; font-style: normal; line-height:normal; font-family: 'HelveticaNeueLTStdRegular', sans-serif;}

.HelveticaNeueLTStdRegular a {font-weight: 100; font-style: normal; line-height:normal; font-family: 'HelveticaNeueLTStdRegular', sans-serif;}

.HelveticaNeueLTStdRegular a:hover {font-weight: 100; font-style: normal; line-height:normal; font-family: 'HelveticaNeueLTStdRegular', sans-serif; color:#fff;}

.HelveticaNeueLTStdRegular _activo {font-weight: 100; font-style: normal; line-height:normal; font-family: 'HelveticaNeueLTStdRegular', sans-serif;}


@font-face {
    font-family: 'robotobold';
    src: url('font/roboto-bold-webfont.eot');
    src: url('font/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('font/roboto-bold-webfont.woff') format('woff'),
        url('font/roboto-bold-webfont.ttf') format('truetype'),
        url('font/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.robotobold {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotobold', sans-serif;}

.robotobold a {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotobold', sans-serif;}

.robotobold a:hover {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotobold', sans-serif; color:#fff;}

.robotobold _activo {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotobold', sans-serif;}


@font-face {
    font-family: 'robotoregular';
    src: url('font/roboto-regular-webfont.eot');
    src: url('font/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('font/roboto-regular-webfont.woff') format('woff'),
        url('font/roboto-regular-webfont.ttf') format('truetype'),
        url('font/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.robotoregular {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotoregular', sans-serif;}

.robotoregular a {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotoregular', sans-serif;}

.robotoregular a:hover {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotoregular', sans-serif; color:#fff;}

.robotoregular _activo {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotoregular', sans-serif;}

@font-face {
    font-family: 'robotolight';
    src: url('font/roboto-light-webfont.eot');
    src: url('font/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('font/roboto-light-webfont.woff') format('woff'),
        url('font/roboto-light-webfont.ttf') format('truetype'),
        url('font/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

.robotolight {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotolight', sans-serif;}

.robotolight a {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotolight', sans-serif;}

.robotolight a:hover {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotolight', sans-serif; color:#fff;}

.robotolight _activo {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotolight', sans-serif;}


@font-face {
    font-family: 'robotoitalic';
    src: url('font/roboto-italic-webfont.eot');
    src: url('font/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('font/roboto-italic-webfont.woff') format('woff'),
        url('font/roboto-italic-webfont.ttf') format('truetype'),
        url('font/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


.robotoitalic {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotoitalic', sans-serif;}

.robotoitalic a {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotoitalic', sans-serif;}

.robotoitalic a:hover {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotoitalic', sans-serif; color:#fff;}

.robotoitalic _activo {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotoitalic', sans-serif;}


html, body {
    height:100%;
    background:#dbdbdb;
}

#container {
    min-height: 100%;     
    height: 100%;
    height: auto !important;     

    width:100%; 
    margin: 0 auto -122px; 

}


#wrapper {
    width: 953px;
    margin: 0 auto;
    text-align: left;
    height: 100%;
    background: #FFF;

}


header {
    height:84px;
    width: 100%;
    margin:0 auto;
    background: rgb(255,255,255); /* Old browsers */

    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 69%, rgba(144,255,206,1) 71%); /* FF3.6+ */

    background: -webkit-gradient(linear, left top, right top, color-stop(69%,rgba(255,255,255,1)), color-stop(71%,rgba(144,255,206,1))); /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 69%,rgba(144,255,206,1) 71%); /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(left,  rgba(255,255,255,1) 69%,rgba(144,255,206,1) 71%); /* Opera 11.10+ */

    background: -ms-linear-gradient(left,  rgba(255,255,255,1) 69%,rgba(144,255,206,1) 71%); /* IE10+ */

    background: linear-gradient(to right,  rgba(255,255,255,1) 69%,rgba(144,255,206,1) 71%); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#90ffce',GradientType=1 ); /* IE6-9 */


    background-position: center top;
    border-bottom: 1px solid #B6B6B6;	
}


header .container {
    height:84px;
    width:953px;
    margin:0 auto;
}

header .container .logo {
    width: 308px;
    height:64px;
    margin:11px 41px 0px 19px;
    display:block;
    position:relative;
    float:left;
}

header .container .img {
    width: 585px;
    height:84px;
    margin:0px 0px 0px 0px;
    display:block;
    position:relative;
    float:left;
}


.menu {
    height:55px;
    width: 100%;
    margin:0 auto;
    background: url(../images/header-menu-fondo.jpg) repeat-x;
    display:block;
    position:relative;
    float:left;
}

.menu .container {
    height:54px;
    width:953px;
    margin:0 auto;
}

.menu nav {
    width: 953px;
    height:54px;
    margin:0px 0px 0px 0px;
    display:block;
    position:relative;
    float:left;
    list-style:none;
}

.menu nav span {
    display:none;
    position:absolute;
}

.menu nav a {
    display:block;
    text-indent:-9000%; 
    position:absolute;
    outline:none;
}

.menu nav a:hover {
    background-position: 0 -54px; 
}

.menu nav .client-login {
    width:166px;
    height:54px; 
    background: url(../images/btn-company.png)  no-repeat;
    left:0px; 
    top:0px;
}

.menu nav .client-login_activo {
    width:166px; 
    height:54px; 
    background: url(../images/btn-company.png) 0 -54px no-repeat;
    left:0px;
    top:0px;
}

.menu nav .upload_test {
    width:166px;
    height:54px; 
    background: url(../images/btn-inspector.png)  no-repeat;
    left:200px; 
    top:0px;
}

.menu nav .upload_test_activo {
    width:166px; 
    height:54px; 
    background: url(../images/btn-inspector.png) 0 -54px no-repeat;
    left:200px;
    top:0px;
}

.menu nav .tester-resources {
    width:166px;
    height:54px; 
    background: url(../images/btn-tester_resources.png)  no-repeat;
    left:396px; 
    top:0px;
}

.menu nav .tester-resources_activo {
    width:166px; 
    height:54px; 
    background: url(../images/btn-tester_resources.png) 0 -54px no-repeat;
    left:396px;
    top:0px;
}

.menu nav .about-norad {
    width:166px;
    height:54px; 
    background: url(../images/btn-about_norad.png)  no-repeat;
    left:598px; 
    top:0px;
}

.menu nav .about-norad_activo {
    width:166px; 
    height:54px; 
    background: url(../images/btn-about_norad.png) 0 -54px no-repeat;
    left:598px;
    top:0px;
}

.menu nav .contact-us {
    width:166px;
    height:54px; 
    background: url(../images/btn-contact_us.png)  no-repeat;
    left:786px; 
    top:0px;
}

.menu nav .contact-us_activo {
    width:166px; 
    height:54px; 
    background: url(../images/btn-contact_us.png) 0 -54px no-repeat;
    left:786px;
    top:0px;
}

/* menu step */		


#menu-step {
    height:67px;
    width: 100%;
    margin:74px 0 0 0;
    background:#020204;
    background-position: center top;
}

#menu-step .container {
    height:67px;
    width:953px;
    margin:0 auto;
}

#menu-step nav {
    width: 585px;
    height:37px;
    margin:18px 0px 0px 188px;
    display:block;
    position:relative;
    float:left;
    list-style:none;
}

#menu-step nav span {
    display:none;
    position:absolute;
}

#menu-step nav a {
    display:block;
    text-indent:-9000%; 
    position:absolute;
    outline:none;
}

#menu-step nav a:hover {
    background-position: 0 -37px; 
}

#menu-step nav .menu-step1 {
    width:131px;
    height:37px; 
    background: url(../images/menu-step1.jpg)  no-repeat;
    left:0px; 
    top:0px;
}

#menu-step nav .menu-step1_activo {
    width:131px; 
    height:37px; 
    background: url(../images/menu-step1.jpg) 0 -37px no-repeat;
    left:0px;
    top:0px;
}

#menu-step nav .menu-step2 {
    width:105px;
    height:37px; 
    background: url(../images/menu-step2.jpg)  no-repeat;
    left:131px; 
    top:0px;
}

#menu-step nav .menu-step2_activo {
    width:105px; 
    height:37px; 
    background: url(../images/menu-step2.jpg) 0 -37px no-repeat;
    left:131px;
    top:0px;
}

#menu-step nav .menu-step3 {
    width:121px;
    height:37px; 
    background: url(../images/menu-step3.jpg)  no-repeat;
    left:236px; 
    top:0px;
}

#menu-step nav .menu-step3_activo {
    width:121px; 
    height:37px; 
    background: url(../images/menu-step3.jpg) 0 -37px no-repeat;
    left:236px;
    top:0px;
}

#menu-step nav .menu-step4 {
    width:114px;
    height:37px; 
    background: url(../images/menu-step4.jpg)  no-repeat;
    left:357px; 
    top:0px;
}

#menu-step nav .menu-step4_activo {
    width:114px; 
    height:37px; 
    background: url(../images/menu-step4.jpg) 0 -37px no-repeat;
    left:357px;
    top:0px;
}

#menu-step nav .menu-step5 {
    width:114px;
    height:37px; 
    background: url(../images/menu-step5.jpg)  no-repeat;
    left:473px; 
    top:0px;
}

#menu-step nav .menu-step5_activo {
    width:114px; 
    height:37px; 
    background: url(../images/menu-step5.jpg) 0 -37px no-repeat;
    left:473px;
    top:0px;
}

/* menu client login */

#menu-client {
    width: 918px;
    height:52px;
    margin:0px 0px 10px 12px;
    display:block;
    position:relative;
    float:left;
}


#menu-client nav {
    width: 918px;
    height:30px;
    margin:0px;
    display:block;
    position:relative;
    float:left;
    list-style:none;
}

#menu-client nav span {
    display:none;
    position:absolute;
}

#menu-client nav a {
    display:block;
    text-indent:-9000%; 
    position:absolute;
    outline:none;
}

#menu-client nav a:hover {
    background-position: 0 -30px; 
}

#menu-client nav .company-data {
    width:119px;
    height:30px; 
    background: url(../images/cl-btn_company-data.jpg)  no-repeat;
    left:40px; 
    top:3px;
}

#menu-client nav .company-data_activo {
    width:119px;
    height:30px; 
    background: url(../images/cl-btn_company-data.jpg) 0 -30px no-repeat;
    left:40px;
    top:3px;
}

#menu-client nav .billing-info {
    width:99px;
    height:30px; 
    background: url(../images/cl-btn_billing-info.jpg)  no-repeat;
    left:194px; 
    top:3px;
}

#menu-client nav .billing-info_activo {
    width:99px; 
    height:30px; 
    background: url(../images/cl-btn_billing-info.jpg) 0 -30px no-repeat;
    left:194px;
    top:3px;
}

#menu-client nav .test-information {
    width:149px;
    height:30px; 
    background: url(../images/cl-btn_test-information.jpg)  no-repeat;
    left:323px; 
    top:3px;
}

#menu-client nav .test-information_activo {
    width:149px; 
    height:30px; 
    background: url(../images/cl-btn_test-information.jpg) 0 -30px no-repeat;
    left:323px;
    top:3px;
}

#menu-client nav .device {
    width:65px;
    height:30px; 
    background: url(../images/cl-btn_device.jpg)  no-repeat;
    left:503px; 
    top:3px;
}

#menu-client nav .device_activo {
    width:65px; 
    height:30px; 
    background: url(../images/cl-btn_device.jpg) 0 -30px no-repeat;
    left:503px;
    top:3px;
}

#menu-client nav .device-history {
    width:125px;
    height:30px; 
    background: url(../images/cl-btn_device-history.jpg)  no-repeat;
    left:594px; 
    top:3px;
}

#menu-client nav .device-history_activo {
    width:125px; 
    height:30px; 
    background: url(../images/cl-btn_device-history.jpg) 0 -30px no-repeat;
    left:594px;
    top:3px;
}

#menu-client nav .inspector-data {
    width:130px;
    height:30px; 
    background: url(../images/cl-btn_inspector-data.jpg)  no-repeat;
    left:753px; 
    top:3px;
}

#menu-client nav .inspector-data_activo {
    width:130px; 
    height:30px; 
    background: url(../images/cl-btn_inspector-data.jpg) 0 -30px no-repeat;
    left:753px;
    top:3px;
}

#menu-client .menu-sombre-cl {
    width: 843px;
    height:21px;
    margin:2px 0px 0px 0px;
    background:url(../images/cl-sombra.jpg) 0 0 no-repeat;
    display:block;
    position:relative;
    float:left;
}

/* menu admin login */

#menu-admin {
    width: 100%;
    height:52px;
    /*margin:0px 0px 10px 12px;*/
    display:block;
    position:relative;
    float:left;
}


#menu-admin nav {
    width: 918px;
    height:31px;
    margin:0px;
    display:block;
    position:relative;
    float:left;
    list-style:none;
}

#menu-admin nav span {
    display:none;
    position:absolute;
}

#menu-admin nav a {
    display:block;
    text-indent:-9000%; 
    position:absolute;
    outline:none;
}
/*
#menu-admin nav a:hover {
    background-position: 0 -31px; 
}

#menu-admin nav .devices {
    width:65px;
    height:31px; 
    background: url(../images/btn-devices.png)  no-repeat;
    left:367px; 
    top:3px;
}

#menu-admin nav .devices_activo {
    width:65px;
    height:31px; 
    background: url(../images/btn-devices.png) 0 -31px no-repeat;
    left:367px;
    top:3px;
}


#menu-admin nav .companies {
    width:88px;
    height:31px; 
    background: url(../images/btn-companies.png)  no-repeat;
    left:458px; 
    top:3px;
}

#menu-admin nav .companies_activo {
    width:88px;
    height:31px; 
    background: url(../images/btn-companies.png) 0 -31px no-repeat;
    left:458px;
    top:3px;
}
#menu-admin .menu-sombre-cl {
    width: 843px;
    height:21px;
    margin:2px 0px 0px 0px;
    background:url(../images/cl-sombra.jpg) 0 0 no-repeat;
    display:block;
    position:relative;
    float:left;
}*/

/* step1 */				

.page-step1 #container2 {
    margin: 0px auto;
    background-position:center;
    display:block;
    position:relative;
    float:left;
    background-color: #fff;
}

.page-step1 #container2 #main {
    width: 953px;
    margin: 30px 0px 0px 0px;
    display:block;
    position:relative;
    float: left;
    background-color: #fff;
}


.page-step1 #container2 #main .text {
    width: 491px;
    margin: 0px 231px 0px 230px;
    text-align:center;
    display:block;
    position:relative;
    float: left;
}

.page-step1 #container2 #main .text p {
    font:normal 16px robotoregular, Geneva, sans-serif;
    color: #2a2b2d;
    line-height:19px;
    text-align:center;
}

.page-step1 #container2 #main .text .negrita {
    font:normal 16px robotobold, Geneva, sans-serif;
    color: #2a2b2d;
    line-height:19px;
    text-align:center;
}

.page-step1 #container2 #main .text .quest {
    width: 12px;
    height:18px;
    margin: -20px 0px 0px 378px;
    display:block;
    position:relative;
    float: left;
}

.page-step1 #container2 #main .btn {
    width:160px;
    margin:18px 395px 100px 398px;
    display:block;
    position:relative;
    float: left;
}


/*	.page-step1 #container #main .btn input.file {
                width:128px;
                height:37px;
                border:none;
                background:url(../images/step1-btn-upload.jpg) 0 0px no-repeat;
                cursor:pointer;
                margin:0px 0px 0px 0px;
                padding:0px 0px 0 0px;
}

.page-step1 #container #main .btn input.file #upload {
        padding:0 0px 0px 0px;
        display:block;
        position:relative;
        float:left;
        
} */	

.page-step1 #container2 #main .btn .custom-input-file {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.page-step1 #container2 #main .btn .custom-input-file .input-file {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 10000px;
    border: 10000px solid transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: -1000px;
    top: -1000px;
    cursor: pointer;
}

.page-step1 #container2 #main .btn .custom-input-file .upload {
    width:128px;
    height:37px;
    border:none;
    background:url(../images/step1-btn-upload.jpg) 0 0px no-repeat;
}

.page-step1 #container2 #main .btn .mas {
    width: 20px;
    height:20px;
    margin: -34px 0px 0px 140px;
    display:block;
    position:relative;
    float: left;
}

.page-step1 #container2 #main .btn input.submit2 {
    width:111px;
    height:32px;
    border:none;
    background:none;
    cursor:pointer;
    margin:10px 0px 0px 0px;
    padding:0px 0px 0 0px;

}

.page-step1 #container2 #main .btn input.submit2 { background:url(../images/btn-enviar-s.jpg) 0 0px no-repeat; }

.page-step1 #container2 #main .btn #btn {
    padding:0 0px 0px 0px;
    position:relative;
    float:left;
}




.page-step1 #container2 #main .btn .mas {
    width: 20px;
    height:20px;
    margin: -34px 0px 0px 140px;
    display:block;
    position:relative;
    float: left;
}


/* step2 */		


.page-step2 #container2 {
    margin: 0px auto;
    background-position:center;
    display:block;
    position:relative;
    float:left;
    background-color: #fff;
}

.page-step2 #container2 #main {
    width: 953px;
    margin: 30px 0px 0px 0px;
    display:block;
    position:relative;
    float: left;
    background-color: #fff;
}

.page-step2 #container2 #main .stform {
    width: 800px;
    margin: 0px 137px 0px 16px;
    text-align:center;
    display:block;
    position:relative;
    float: left;
}


.page-step2 #container2 #main .stform .form-botonera nav {
    width: 433px;
    height:58px;
    margin:15px 0px 0px 16px;
    background:url(../images/step2-botonera.jpg) 0 0 no-repeat;
    display:block;
    position:relative;
    float:left;
    list-style:none;
}

.page-step2 #container2 #main .stform .form-botonera nav span {
    display:none;
    position:absolute;
}

.page-step2 #container2 #main .stform .form-botonera nav a {
    display:block;
    text-indent:-9000%; 
    position:absolute;
    outline:none;
}

.page-step2 #container2 #main .stform .form-botonera nav a:hover {
    background-position: 0 -39px; 
}

.page-step2 #container2 #main .stform .form-botonera nav .testsite {
    width:181px;
    height:39px; 
    background: url(../images/step2-btn-testsiteinformation.jpg)  no-repeat;
    left:0px; 
    top:20px;
}

.page-step2 #container2 #main .stform .form-botonera nav .testsite_activo {
    width:181px; 
    height:39px; 
    background: url(../images/step2-btn-testsiteinformation.jpg) 0 -39px no-repeat;
    left:0px;
    top:20px;
}

.page-step2 #container2 #main .stform .form-botonera nav .reporting {
    width:205px;
    height:39px; 
    background: url(../images/step2-btn-reportingrequeriments.jpg)  no-repeat;
    left:227px; 
    top:20px;
}

.page-step2 #container2 #main .stform .form-botonera nav .reporting_activo {
    width:205px; 
    height:39px; 
    background: url(../images/step2-btn-reportingrequeriments.jpg) 0 -39px no-repeat;
    left:227px;
    top:20px;
}

.page-step2 #container2 #main .stform .form-pp {
    width: 600px;
    margin: 0px 137px 0px 216px;
    text-align:left;
    display:block;
    position:relative;
    float: left;
}

.page-step2 #container2 #main .stform .form-pp .btn {
    width:230px;
    height:18px;
    padding:12px 12px 12px;
    margin:0px 11px 0px 0px;
    border:1px solid #cbcbcb;
    background: #f8f8f8;
    display:block;
    position:relative;
    float: left;

}

.page-step2 #container2 #main .stform .form-pp .btn  span {

    text-align:left;
    font:normal 14px HelveticaNeueLTStdRegular, Geneva, sans-serif;
    color: #2a2b2d;
}



.page-step2 #container2 #main .stform .form-sp {
    width: 800px;
    margin: 20px 0px 30px 0px;
    text-align:left;
    display:block;
    position:relative;
    float: left;
}

.page-step2 #container2 #main .stform .form-sp select {
    width:70px;
    height:35px;
    margin:0px 7px 10px 0px;
    padding:1px 5px 1px;
    border:1px solid #cbcbcb;
    background: #FFF;
    text-align:left;
    font:normal 14px robotolight, Geneva, sans-serif;
    color: #060807;
    overflow:auto;
}



.page-step2 #container2 #main .stform .form-sp input.box {
    width:230px;
    height:16px;
    margin:0px 7px 10px 0px;
    padding:12px 12px 12px;
    border:1px solid #cbcbcb;
    background: #FFF;
    text-align:left;
    font:normal 14px robotolight, Geneva, sans-serif;
    color: #060807;
    overflow:auto;
}

.page-step2 #container2 #main .stform .form-sp input.box:focus {
    border:1px solid #cbcbcb;
    background: #FFF;
}

.page-step2 #container2 #main .stform .form-sp input.box2 {
    width:97px;
    height:16px;
    margin:0px 7px 10px 0px;
    padding:12px 12px 12px;
    border:1px solid #cbcbcb;
    background: #FFF;
    text-align:left;
    font:normal 14px robotolight, Geneva, sans-serif;
    color: #060807;
    overflow:auto;
}

.page-step2 #container2 #main .stform .form-sp input.box2:focus {
    border:1px solid #cbcbcb;
    background: #FFF;
}

.page-step2 #container2 #main .stform .form-sp input.box3 {
    width:97px;
    height:16px;
    margin:0px 6px 10px 0px;
    padding:12px 12px 12px;
    border:1px solid #cbcbcb;
    background: #FFF;
    text-align:left;
    font:normal 14px robotolight, Geneva, sans-serif;
    color: #060807;
    overflow:auto;
}

.page-step2 #container2 #main .stform .form-sp input.box3:focus {
    border:1px solid #cbcbcb;
    background: #FFF;
}

.page-step2 #container2 #main .stform .form-sp textarea.box {
    width:764px;
    height:95px;
    margin:0px 0px 10px 0px;
    padding:12px 12px 12px;
    border:1px solid #cbcbcb;
    background: #FFF;
    text-align:left;
    font:normal 14px robotolight, Geneva, sans-serif;
    color: #060807;
    overflow:auto;
}

.page-step2 #container2 #main .stform .form-sp textarea.box:focus {
    border:1px solid #cbcbcb;
    background: #FFF;
}

.page-step2 #container2 #main .stform .form-sp .ckeck-mgn {
    width: 800px;
    margin: 3px 0px 15px 0px;
    text-align:left;
    display:block;
    position:relative;
    float: left;
}

.page-step2 #container2 #main .stform .form-sp label {
    font:normal 14px robotolight, Geneva, sans-serif;
    color: #060807;
    line-height:17px;
    text-align:left;
    margin:0 0 0 5px;
}
.page-step2 #container2 #main .stform .form-sp input.submit {
    width:128px;
    height:37px;
    border:none;
    background:url(../images/step2-btn-savechanges.jpg) 0 0px no-repeat;
    cursor:pointer;
    margin:15px 0px 30px 0px;
    padding:0px 0px 0 0px;
}

.page-step2 #container2 #main .stform .form-sp input.submit #upload {
    padding:0 0px 0px 0px;
    display:block;
    position:relative;
    float:left;
}



.page-step2 #container2 #main .stform .form-sp input.submit4 {
    width:111px;
    height:32px;
    border:none;
    background:none;
    cursor:pointer;
    margin:10px 0px 0px 0px;
    padding:0px 0px 0 0px;

}

.page-step2 #container2 #main .stform .form-sp input.submit4 { background:url(../images/btn-continue.jpg) 0 0px no-repeat; }

.page-step2 #container2 #main .stform .form-sp .btn #btn3 {
    padding:0 0px 0px 0px;
    position:relative;
    float:left;
}




/* step3 */				

.page-step3 #container2 {
    margin: 0px auto;
    background-position:center;
    display:block;
    position:relative;
    float:left;
    background-color: #fff;
}

.page-step3 #container2 #main {
    width: 953px;
    margin: 30px 0px 0px 0px;
    display:block;
    position:relative;
    float: left;
    background-color: #fff;
}



.page-step3 #container2 #main .text {
    width: 918px;
    margin: 0px 19px 10px 16px;
    text-align:center;
    display:block;
    position:relative;
    float: left;
}

.page-step3 #container2 #main .text p {
    font:normal 16px robotoregular, Geneva, sans-serif;
    color: #2a2b2d;
    line-height:19px;
    text-align:center;
}

.page-step3 #container2 #main .text .negrita {
    font:normal 16px robotobold, Geneva, sans-serif;
    color: #2a2b2d;
    line-height:19px;
    text-align:left;
}

.page-step3 #container2 #main .text .btncont {
    width: 111px;
    height:32px;
    margin: 10px 19px 10px 400px;
    display:block;
    position:relative;
    float: left;
}

.page-step3 #container2 #main .btn {
    width:160px;
    margin:18px 395px 100px 398px;
    display:block;
    position:relative;
    float: left;
}

.page-step3 #container2 #main .btn input.submit {
    width:128px;
    height:37px;
    border:none;
    background:url(../images/step3-btn-preview.jpg) 0 0px no-repeat;
    cursor:pointer;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0 0px;
}

.page-step3 #container2 #main .btn input.submit #preview {
    padding:0 0px 0px 0px;
    display:block;
    position:relative;
    float:left;
}

/* step4 */				

.page-step4 #container2 {
    margin: 0px auto;
    background-position:center;
    isplay:block;
    position:relative;
    float:left;
    background-color: #fff;
}

.page-step4 #container2 #main {
    width: 953px;
    margin: 30px 0px 0px 0px;
    display:block;
    position:relative;
    float: left;
    background-color: #fff;
}



.page-step4 #container2 #main .text {
    width: 918px;
    margin: 0px 19px 0px 16px;
    text-align:center;
    display:block;
    position:relative;
    float: left;
}

.page-step4 #container2 #main .text h1 {
    font:normal 24px robotobold, Geneva, sans-serif;
    color: #2a2b2d;
    line-height:27px;
    text-transform:uppercase;
    text-align:left;
    margin-bottom:14px;
}

.page-step4 #container2 #main .text p {
    font:normal 14px robotoregular, Geneva, sans-serif;
    color: #2a2b2d;
    line-height:17px;
    text-align:left;
    margin-bottom:14px;
}

.page-step4 #container2 #main .text .negrita {
    font:normal 14px robotobold, Geneva, sans-serif;
    color: #2a2b2d;
    line-height:17px;
    text-align:left;
    margin-bottom:14px;
}

.page-step4 #container2 #main .text .negrita a {
    font:normal 14px robotobold, Geneva, sans-serif;
    color: #2a2b2d;
    text-decoration:none;
    line-height:17px;
    text-align:left;
    margin-bottom:14px;
}

.page-step4 #container2 #main .text .negrita a:hover {
    font:normal 14px robotobold, Geneva, sans-serif;
    color: #2a2b2d;
    text-decoration:none;
    line-height:17px;
    text-align:left;
    margin-bottom:14px;
}

.page-step4 #container2 #main .btn {
    width: 918px;
    margin: 18px 19px 50px 16px;
    display:block;
    position:relative;
    float: left;
}

.page-step4 #container2 #main .btn label {
    font:normal 14px robotobold, Geneva, sans-serif;
    color: #060807;
    line-height:17px;
    text-transform:uppercase;
    text-align:left;
    margin:0 0 0 5px;
}

/* step5 */				

.page-step5 #container2 {
    margin: 0px auto;
    background-position:center;
    display:block;
    position:relative;
    float:left;
    background-color: #fff;
}

.page-step5 #container2 #main {
    width: 953px;
    margin: 30px 0px 0px 0px;
    display:block;
    position:relative;
    float: left;
    background-color: #fff;
}



.page-step5 #container2 #main .text {
    width: 918px;
    margin: 0px 19px 0px 16px;
    text-align:center;
    display:block;
    position:relative;
    float: left;
}

.page-step5 #container2 #main .text h1 {
    font:normal 24px robotobold, Geneva, sans-serif;
    color: #2a2b2d;
    line-height:27px;
    text-transform:uppercase;
    text-align:left;
    margin-bottom:14px;
}

.page-step5 #container2 #main .text p {
    font:normal 14px robotoregular, Geneva, sans-serif;
    color: #2a2b2d;
    line-height:17px;
    text-align:left;
    margin-bottom:14px;
}

.page-step5 #container2 #main .text .negrita {
    font:normal 14px robotobold, Geneva, sans-serif;
    color: #2a2b2d;
    line-height:17px;
    text-align:left;
    margin-bottom:14px;
}

.page-step5 #container2 #main .text .negrita a {
    font:normal 14px robotobold, Geneva, sans-serif;
    color: #2a2b2d;
    text-decoration:none;
    line-height:17px;
    text-align:left;
    margin-bottom:14px;
}

.page-step5 #container2 #main .text .negrita a:hover {
    font:normal 14px robotobold, Geneva, sans-serif;
    color: #2a2b2d;
    text-decoration:none;
    line-height:317px;
    text-align:left;
    margin-bottom:14px;
}

.page-step5 #container2 #main .btn {
    width: 918px;
    margin: 18px 19px 50px 16px;
    display:block;
    position:relative;
    float: left;
}

.page-step5 #container2 #main .btn input.submit {
    width:128px;
    height:37px;
    border:none;
    background:url(../images/step5-btn-return.jpg) 0 0px no-repeat;
    cursor:pointer;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0 0px;
}

.page-step5 #container2 #main .btn input.submit #return {
    padding:0 0px 0px 0px;
    display:block;
    position:relative;
    float:left;
}

/* client-login */				

.page-client-login #container2 {
    margin: 0px;
    background-position:center;
    display:block;
    position:relative;
    float:left;
    background-color: #fff;
    min-height:550px;
    height:100%;
}

.page-client-login #container2 #main {
    width: 953px;
    margin: 130px 0px 0px 0px;
    display:block;
    position:relative;
    float: left;
    background-color: #fff;
}



.page-client-login #container2 #main .form-login {
    width: 270px;
    margin: 0px 0px 0px 342px;
    text-align:center;
    display:block;
    position:relative;
    float: left;
}

.page-client-login #container2 #main .form-login .tit {
    width: 270px;
    margin: 0px 0px 10px 0px;
    text-align:center;
    display:block;
    position:relative;
    float: left;
}


.page-client-login #container2 #main .form-login .tit h1 {
    font:normal 18px robotobold, Geneva, sans-serif;
    color: #000;
    line-height:22px;
    text-align:center;
}



.page-client-login #container2 #main .form-login input.box {
    width:218px;
    height:16px;
    margin:0px 0px 11px 0px;
    padding:18px 18px 18px;
    border:1px solid #cbcbcb;
    background: #FFF;
    text-align:left;
    font:normal 14px robotolight, Geneva, sans-serif;
    color: #060807;
    overflow:auto;
}

.page-client-login #container2 #main .form-login input.box:focus {
    border:1px solid #cbcbcb;
    background: #FFF;
}

.page-client-login #container2 #main .form-login input.submit {
    width:128px;
    height:37px;
    border:none;
    background:url(../images/client-login-btn-login.jpg) 0 0px no-repeat;
    cursor:pointer;
    margin:1px 0px 0px 0px;
    padding:0px 0px 0 0px;
}

.page-client-login #container2 #main .form-login input.submit #login {
    padding:0 0px 0px 0px;
    display:block;
    position:relative;
    float:left;
}

.page-client-login #container2 #main .form-login .txt {
    width: 270px;
    margin: 14px 0px 0px 0px;
    text-align:center;
    display:block;
    position:relative;
    float: left;
}

.page-client-login #container2 #main .form-login .txt p {
    font:normal 12px robotolight, Geneva, sans-serif;
    color: #060807;
    text-align:center;
    line-height:14px;
    text-decoration:none;
}

.page-client-login #container2 #main .form-login .txt p a {
    font:normal 12px robotolight, Geneva, sans-serif;
    color: #060807;
    text-align:center;
    line-height:14px;
    text-decoration:underline;
}

.page-client-login #container2 #main .form-login .txt p a:hover {
    font:normal 12px robotolight, Geneva, sans-serif;
    color: #060807;
    text-align:center;
    line-height:14px;
    text-decoration:underline;
}

/* client-login: company data */				

.page-company-data #container2 {
    margin: 0px auto;
    background-position:center;
    display:block;
    position:relative;
    float:left;
    background-color: #fff;
    min-height:550px;
    height:100%;
}

.page-company-data #container2 #main {
    width: 953px;
    margin: 64px 0px 0px 0px;
    display:block;
    position:relative;
    float: left;
    background-color: #fff;
}


.page-company-data #container2 #main .form-cd {
    width: 920px;
    margin: 2rem 0px 40px 17px;
    text-align:center;
    display:block;
    position:relative;
    /*float: left;*/
}

.page-company-data #container2 #main .form-cd .conttxt {
    width: 920px;
    margin: 0px 0px 0px 0px;
    text-align:center;
    display:block;
    position:relative;
    float: left;
}

.page-company-data #container2 #main .form-cd .conttxt p {
    font:normal 13px robotobold, Geneva, sans-serif;
    color: #2a2b2d;
    text-align:center;
    line-height:25px;
    text-decoration:none;
    margin:0px 0 15px 0;
}

.page-company-data #container2 #main .form-cd .conttxt p a {
    font:normal 13px robotobold, Geneva, sans-serif;
    color: #2a2b2d;
    text-align:center;
    line-height:25px;
    text-decoration:none;
    margin:0px 0 15px 0;
}

.page-company-data #container2 #main .form-cd .conttxt p a:hover {
    font:normal 13px robotobold, Geneva, sans-serif;
    color: #2a2b2d;
    text-align:center;
    line-height:25px;
    text-decoration:underline;
    margin:0px 0 15px 0;
}

.page-company-data #container2 #main .form-cd .conttxt .img {
    width: 173px;
    height:19px;
    margin: 10px 0px 10px 230px;
    text-align:left;
    display:block;
    position:relative;
    float: left;
}

.page-company-data #container2 #main .form-cd select {
    width:256px;
    height:50px;
    margin:10px 7px 10px -62px;
    padding:14px 14px 14px;
    border:1px solid #cbcbcb;
    background: #FFF;
    text-align:left;
    font:normal 14px robotolight, Geneva, sans-serif;
    color: #060807;
    overflow:auto;
}

.page-company-data #container2 #main .form-cd input.box {
    width:218px;
    height:16px;
    margin:10px 72px 0px 0px;
    padding:18px 18px 18px;
    border:1px solid #cbcbcb;
    background: #FFF;
    text-align:left;
    font:normal 14px robotolight, Geneva, sans-serif;
    color: #060807;
    overflow:auto;
}

.page-company-data #container2 #main .form-cd input.box:focus {
    border:1px solid #cbcbcb;
    background: #FFF;
}

.page-company-data #container2 #main .form-cd input.box2 {
    width:218px;
    height:16px;
    margin:10px 0px 0px 0px;
    padding:18px 18px 18px;
    border:1px solid #cbcbcb;
    background: #FFF;
    text-align:left;
    font:normal 14px robotolight, Geneva, sans-serif;
    color: #060807;
    overflow:auto;
}

.page-company-data #container2 #main .form-cd div.fileUpload {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cbcbcb;
    color: #060807;
    font: 14px robotolight,Geneva,sans-serif;
    height: 110px;
    margin: 10px 0 0;
    overflow: auto;
    padding: 18px;
    text-align: left;
    width: 96%;
}

.page-company-data #container2 #main .form-cd div.fileUpload input {
    float: right;
}

.page-company-data #container2 #main .form-cd input.box2:focus {
    border:1px solid #cbcbcb;
    background: #FFF;
}

.page-company-data #container2 #main .form-cd input.submit {
    width:128px;
    height:37px;
    border:none;
    background:url(../images/cl-company-btn-save-changes.jpg) 0 0px no-repeat;
    cursor:pointer;
    margin:24px 0px 0px 0px;
    padding:0px 0px 0 0px;
}

.page-company-data #container2 #main .form-cd input.submit #savechanges {
    padding:0 0px 0px 0px;
    display:block;
    position:relative;
    float:left;
}


/* about-norad */				

.page-about-norad #container2 {
    margin: 0px auto;
    background-position:center;
    display:block;
    position:relative;
    float:left;
    background-color: #fff;

}

.page-about-norad #container2 #main {
    width: 953px;
    margin: 30px 0px 20px 0px;
    display:block;
    position:relative;
    float: left;
    background-color: #fff;

}

.page-about-norad #container2 #main .info {
    width: 918px;
    margin: 0px 0px 0px 17px;
    text-align:center;
    display:block;
    position:relative;
    float: left;
    background-color: #fff;
}

.page-about-norad #container2 #main .info .txt {
    width: 458px;
    margin: 0px 0px 0px 0px;
    text-align:center;
    display:block;
    position:relative;
    float: left;
}

.page-about-norad #container2 #main .info .txt h1 {
    font:normal 18px robotoregular, Geneva, sans-serif;
    color: #2a2b2d;
    text-align:left;
    line-height:25px;
    text-decoration:none;
    margin:0px 0 15px 0;
}

.page-about-norad #container2 #main .info .txt p {
    font:normal 12px robotoregular, Geneva, sans-serif;
    color: #2a2b2d;
    text-align:left;
    line-height:14px;
    text-decoration:none;
    margin:15px 0 0 0;
}

.page-about-norad #container2 #main .info .txt .sub {
    font:normal 12px robotoitalic, Geneva, sans-serif;
    color: #060807;
    text-align:left;
    line-height:14px;
    text-decoration:none;
    margin:15px 0 0 0;
}

.page-about-norad #container2 #main .info .img {
    width: 354px;
    height:291px;
    margin: 0px;
    margin-right: 4rem;
    margin-left: 2rem;
    margin-top:1rem;
    display:block;
    position:relative;
    float: left;
}

.page-about-norad #container2 #main .info .img img {
    width: 100%;
    height: 150%;
    
}

/* testerresources */				

.page-testerresources #container2 {
    margin: 0px auto;
    background-position:center;
    display:block;
    position:relative;
    float:left;
    background-color: #fff;
    min-height:550px;
    height:100%;

}

.page-testerresources #container2 #main {
    width: 953px;
    margin: 30px 0px 20px 0px;
    display:block;
    position:relative;
    float: left;
    background-color: #fff;

}

.page-testerresources #container2 #main .info {
    width: 918px;
    margin: 0px 0px 0px 17px;
    text-align:center;
    display:block;
    position:relative;
    float: left;
    background-color: #fff;
}

.page-testerresources #container2 #main .info .txt {
    width: 918px;
    margin: 0px 0px 0px 0px;
    text-align:center;
    display:block;
    position:relative;
    float: left;
}

.page-testerresources #container2 #main .info .txt h1 {
    font:normal 18px robotoregular, Geneva, sans-serif;
    color: #2a2b2d;
    text-align:left;
    line-height:25px;
    text-decoration:none;
    margin:0px 0 15px 0;
}

.page-testerresources #container2 #main .info .txt p {
    font:normal 12px robotoregular, Geneva, sans-serif;
    color: #2a2b2d;
    text-align:center;
    line-height:14px;
    text-decoration:none;
    margin:15px 0 0 0;
}


/* Footer */


#push {     
    height: 122px; 
}


footer {
    height:122px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width:100%;
    display:block;
    position:relative;
    float:left;

}

footer .container {
    background-position:center;
    background:url(../images/footer-bk.jpg) 0 0 repeat-x;
    margin:auto;
    width:100%;
    height:122px;
    display: block;
    float: left;
    position:relative;
}

footer .mgn {
    margin: 0 auto;
    width:953px;
    background-position:center;

}

footer .mgn .mgn-txt1 {
    width:953px;
    height:58px;
    border-top: 1px solid #bdbdbd;
    background-color:#FFF;
    display: block;
    float: left;
    position:relative;
}


footer .mgn .mgn-txt1 .txt1 {
    display: block;
    float: right;
    position:relative;
    margin:13px 0 0 0px;
    width:953px;
}

footer .mgn .mgn-txt1 .txt1 p {
    font:normal 10px HelveticaNeueLTStdRegular;
    color:#BABABA;
    line-height:14px;
    text-decoration:none;
    text-align:center;
}

footer .mgn .mgn-txt1 .txt1 p a {
    font:normal 12px HelveticaNeueLTStdRegular;
    color:#656565;
    line-height:14px;
    text-decoration:none;
    text-align:right;
}

footer .mgn .mgn-txt1 .txt1 p a:hover {
    font:normal 12px HelveticaNeueLTStdRegular;
    color:#656565;
    line-height:14px;
    text-decoration:none;
    text-align:right;
}

footer .mgn .txt2 {
    display: block;
    float: left;
    position:relative;
    margin:22px 0 0 18px;
    width:945px;
}

footer .mgn .txt2 p {
    font:normal 10px HelveticaNeueLTStdRegular;
    color:#ffffff;
    line-height:14px;
    text-decoration:none;
    text-align:left;
}

footer .mgn .txt2 p a {
    font:normal 12px HelveticaNeueLTStdRegular;
    color:#656565;
    line-height:14px;
    text-decoration:none;
    text-align:left;
}

footer .mgn .txt2 p a:hover {
    font:normal 12px HelveticaNeueLTStdRegular;
    color:#656565;
    line-height:14px;
    text-decoration:none;
    text-align:left;
}


.divError {
    background-color: #ffc1c1;
    /*    border: 0.2em solid red;*/
    border-radius: 0.5em;
    color: black;
    font-weight: bold;
    margin-top: 1em;
    padding: 2em;
    float:left;
    width: 80%;
    margin-left: 5%;
    margin-bottom: 1em;
}

.divSuccess {
    background-color: #b2d8b2;
    /*    border: 0.2em solid green;*/
    border-radius: 0.5em;
    color: black;
    float: left;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 1em;
    padding: 2em;
    text-align: center;
    width: 80%;
    margin-bottom: 1em;
}

/*div.error {
    background-color: #ffc1c1;
    border-radius: 0.5em;
    float: left;
    font-weight: bold;
    margin-top: 1em;
    padding: 0.5em;
}*/

.errorContainer {
    float:left;
    width: 100%;
    text-align: center;
}

div.error {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 36px;
    margin:10px;
    background:#ffecec url('../images/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}



div.error:empty {
    display: none;
}

/*.error {
        float:left;
    width: 100%;
}*/

.btn-html {
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 800;
    min-width: 8em;
    padding: 0.5em;
    text-transform: uppercase;
}

.mailedList {
    font: normal 14px robotobold, Geneva, sans-serif;
    color: #2a2b2d;
    line-height: 17px;
    width: 100%;
    text-align: left;
    margin-left: 5em;
}

.button {
    background-color: black;
    border-radius:8px;
    color: white;
    /*padding:1em;*/
    width: 130px;
    height: 40px;
    font-size: 1em;
    border: 1px solid black;
    cursor: pointer; 
    text-align: center;
}


/*ADMIN NUEVOS TABS*/

.actions-img{
    width: 2rem; 
    cursor: pointer;
}

.actions-list {
    position: absolute;
    width:8rem;
    background-color: gray;
    color: white;
    display: none;
    margin-left: 3rem;
    margin-top: -2rem;
    z-index: 999;
}

.actions-container:hover .actions-list {
    display: block;
}

.actions-list:hover .actions-list {
    display: block;
}

.actions-list ul, .optionsMenuList ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.actions-list li, .optionsMenuList li {
    text-align: left;
    padding-left: 1rem;
    border: 1px solid white;
    cursor: pointer;
}

.actions-list li a, .optionsMenuList li a {
    color: white;
    text-decoration: none;
}

.actions-list li:hover, .optionsMenuList li:hover {
    background-color: black;
}

#imgOptionsMenu {
    width: 10rem;
}

#imgOptionsMenu img{
    width: 2rem;
    cursor: pointer;
}

.optionsMenuList {
    position: absolute;
    display: none;
    left:5rem;
    width: 7rem;
}

#imgOptionsMenu:hover .optionsMenuList {
    display: block;
}

.actions-list:hover .optionsMenuList {
    display: block;
}

.conttxt {
    margin-bottom: 1rem !important;
}

.conttxt input {
    font-size: 1rem;
}            