*{
    margin:0;
    padding:0;
}


@font-face {
    font-family: 'HelveticaNeueLTStdRegular';
    src: url('font/helveticaneueltstd-roman-webfont.eot');
    src: url('font/helveticaneueltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/helveticaneueltstd-roman-webfont.woff') format('woff'),
         url('font/helveticaneueltstd-roman-webfont.ttf') format('truetype'),
         url('font/helveticaneueltstd-roman-webfont.svg#HelveticaNeueLTStdRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.HelveticaNeueLTStdRegular {font-weight: 100; font-style: normal; line-height:normal; font-family: 'HelveticaNeueLTStdRegular', sans-serif;}

.HelveticaNeueLTStdRegular a {font-weight: 100; font-style: normal; line-height:normal; font-family: 'HelveticaNeueLTStdRegular', sans-serif;}

.HelveticaNeueLTStdRegular a:hover {font-weight: 100; font-style: normal; line-height:normal; font-family: 'HelveticaNeueLTStdRegular', sans-serif; color:#fff;}

.HelveticaNeueLTStdRegular _activo {font-weight: 100; font-style: normal; line-height:normal; font-family: 'HelveticaNeueLTStdRegular', sans-serif;}


@font-face {
    font-family: 'robotobold';
    src: url('font/roboto-bold-webfont.eot');
    src: url('font/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto-bold-webfont.woff') format('woff'),
         url('font/roboto-bold-webfont.ttf') format('truetype'),
         url('font/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.robotobold {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotobold', sans-serif;}

.robotobold a {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotobold', sans-serif;}

.robotobold a:hover {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotobold', sans-serif; color:#fff;}

.robotobold _activo {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotobold', sans-serif;}


@font-face {
    font-family: 'robotoregular';
    src: url('font/roboto-regular-webfont.eot');
    src: url('font/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto-regular-webfont.woff') format('woff'),
         url('font/roboto-regular-webfont.ttf') format('truetype'),
         url('font/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.robotoregular {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotoregular', sans-serif;}

.robotoregular a {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotoregular', sans-serif;}

.robotoregular a:hover {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotoregular', sans-serif; color:#fff;}

.robotoregular _activo {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotoregular', sans-serif;}

@font-face {
    font-family: 'robotolight';
    src: url('font/roboto-light-webfont.eot');
    src: url('font/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto-light-webfont.woff') format('woff'),
         url('font/roboto-light-webfont.ttf') format('truetype'),
         url('font/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

.robotolight {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotolight', sans-serif;}

.robotolight a {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotolight', sans-serif;}

.robotolight a:hover {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotolight', sans-serif; color:#fff;}

.robotolight _activo {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotolight', sans-serif;}


@font-face {
    font-family: 'robotoitalic';
    src: url('font/roboto-italic-webfont.eot');
    src: url('font/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto-italic-webfont.woff') format('woff'),
         url('font/roboto-italic-webfont.ttf') format('truetype'),
         url('font/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


.robotoitalic {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotoitalic', sans-serif;}

.robotoitalic a {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotoitalic', sans-serif;}

.robotoitalic a:hover {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotoitalic', sans-serif; color:#fff;}

.robotoitalic _activo {font-weight: 100; font-style: normal; line-height:normal; font-family: 'robotoitalic', sans-serif;}


html, body {
			background:#FFF;
			height:100%;
		}
		
#container {
	min-height: 100%;     
    height: auto !important;     
    height: 100%;
	width:100%; 
    margin: 0 auto -119px; 
}

#wrapper {
	width: 953px;
	margin: 0 auto;
	text-align: left;
	 height: 100%;
}


header {
height:87px;
width: 100%;
margin:0 auto;
background:#000 url(../images/header-bk.jpg) no-repeat;
background-position: center top;
}

	header .container {
		height:87px;
		width:953px;
		margin:0 auto;
	}
	
		header .container .logo {
			width: 143px;
			height:76px;
			margin:4px 0px 0px 399px;
			display:block;
			position:relative;
			float:left;
		}
		
.menu {
height:54px;
width: 100%;
margin:0 auto;
background:#FFF;
border-bottom:#b6b6b6 1px solid;
background-position: center top;
}

	.menu .container {
		height:54px;
		width:953px;
		margin:0 auto;
	}
		
	.menu nav {
		width: 953px;
		height:54px;
		margin:0px 0px 0px 0px;
		display:block;
		position:relative;
		float:left;
		list-style:none;
	}
	
	.menu nav span {
		display:none;
		position:absolute;
	}
	
	.menu nav a {
		display:block;
		text-indent:-9000%; 
		position:absolute;
		outline:none;
	}
	
	.menu nav a:hover {
	   background-position: 0 -54px; 
	}

	.menu nav .client-login {
		width:191px;
		height:54px; 
		background: url(../images/btn-client_login.jpg)  no-repeat;
		left:0px; 
		top:0px;
	}
	
	.menu nav .client-login_activo {
		width:191px; 
		height:54px; 
		background: url(../images/btn-client_login.jpg) 0 -54px no-repeat;
		left:0px;
		top:0px;
	}
	
	.menu nav .upload_test {
		width:191px;
		height:54px; 
		background: url(../images/btn-upload_test.jpg)  no-repeat;
		left:191px; 
		top:0px;
	}
	
	.menu nav .upload_test_activo {
		width:191px; 
		height:54px; 
		background: url(../images/btn-upload_test.jpg) 0 -54px no-repeat;
		left:191px;
		top:0px;
	}
	
	.menu nav .tester-resources {
		width:189px;
		height:54px; 
		background: url(../images/btn-tester_resources.jpg)  no-repeat;
		left:382px; 
		top:0px;
	}
	
	.menu nav .tester-resources_activo {
		width:189px; 
		height:54px; 
		background: url(../images/btn-tester_resources.jpg) 0 -54px no-repeat;
		left:382px;
		top:0px;
	}
	
	.menu nav .about-norad {
		width:191px;
		height:54px; 
		background: url(../images/btn-about_norad.jpg)  no-repeat;
		left:571px; 
		top:0px;
	}
	
	.menu nav .about-norad_activo {
		width:191px; 
		height:54px; 
		background: url(../images/btn-about_norad.jpg) 0 -54px no-repeat;
		left:571px;
		top:0px;
	}
	
	.menu nav .contact-us {
		width:191px;
		height:54px; 
		background: url(../images/btn-contact_us.jpg)  no-repeat;
		left:762px; 
		top:0px;
	}
	
	.menu nav .contact-us_activo {
		width:191px; 
		height:54px; 
		background: url(../images/btn-contact_us.jpg) 0 -54px no-repeat;
		left:762px;
		top:0px;
	}

/* menu step */		

	
#menu-step {
height:67px;
width: 100%;
margin:74px 0 0 0;
background:#020204;
background-position: center top;
}

	#menu-step .container {
		height:67px;
		width:953px;
		margin:0 auto;
	}
		
	#menu-step nav {
		width: 585px;
		height:37px;
		margin:18px 0px 0px 188px;
		display:block;
		position:relative;
		float:left;
		list-style:none;
	}
	
	#menu-step nav span {
		display:none;
		position:absolute;
	}
	
	#menu-step nav a {
		display:block;
		text-indent:-9000%; 
		position:absolute;
		outline:none;
	}
	
	#menu-step nav a:hover {
	   background-position: 0 -37px; 
	}

	#menu-step nav .menu-step1 {
		width:131px;
		height:37px; 
		background: url(../images/menu-step1.jpg)  no-repeat;
		left:0px; 
		top:0px;
	}
	
	#menu-step nav .menu-step1_activo {
		width:131px; 
		height:37px; 
		background: url(../images/menu-step1.jpg) 0 -37px no-repeat;
		left:0px;
		top:0px;
	}
	
	#menu-step nav .menu-step2 {
		width:105px;
		height:37px; 
		background: url(../images/menu-step2.jpg)  no-repeat;
		left:131px; 
		top:0px;
	}
	
	#menu-step nav .menu-step2_activo {
		width:105px; 
		height:37px; 
		background: url(../images/menu-step2.jpg) 0 -37px no-repeat;
		left:131px;
		top:0px;
	}
	
	#menu-step nav .menu-step3 {
		width:121px;
		height:37px; 
		background: url(../images/menu-step3.jpg)  no-repeat;
		left:236px; 
		top:0px;
	}
	
	#menu-step nav .menu-step3_activo {
		width:121px; 
		height:37px; 
		background: url(../images/menu-step3.jpg) 0 -37px no-repeat;
		left:236px;
		top:0px;
	}
	
	#menu-step nav .menu-step4 {
		width:114px;
		height:37px; 
		background: url(../images/menu-step4.jpg)  no-repeat;
		left:357px; 
		top:0px;
	}
	
	#menu-step nav .menu-step4_activo {
		width:114px; 
		height:37px; 
		background: url(../images/menu-step4.jpg) 0 -37px no-repeat;
		left:357px;
		top:0px;
	}
	
	#menu-step nav .menu-step5 {
		width:114px;
		height:37px; 
		background: url(../images/menu-step5.jpg)  no-repeat;
		left:473px; 
		top:0px;
	}
	
	#menu-step nav .menu-step5_activo {
		width:114px; 
		height:37px; 
		background: url(../images/menu-step5.jpg) 0 -37px no-repeat;
		left:473px;
		top:0px;
	}
	
/* menu client login */

#menu-client {
width: 918px;
height:52px;
margin:0px 0px 0px 12px;
display:block;
position:relative;
float:left;
}


#menu-client nav {
		width: 918px;
		height:52px;
		margin:0px;
		background: url(../images/client-login-fondo.jpg) 0 0 no-repeat;
		display:block;
		position:relative;
		float:left;
		list-style:none;
	}
	
	#menu-client nav span {
		display:none;
		position:absolute;
	}
	
	#menu-client nav a {
		display:block;
		text-indent:-9000%; 
		position:absolute;
		outline:none;
	}
	
	#menu-client nav a:hover {
	   background-position: 0 -52px; 
	}

	#menu-client nav .company-data {
		width:117px;
		height:52px; 
		background: url(../images/cl-btn_company-data.jpg)  no-repeat;
		left:16px; 
		top:3px;
	}
	
	#menu-client nav .company-data_activo {
		width:117px; 
		height:52px; 
		background: url(../images/cl-btn_company-data.jpg) 0 -52px no-repeat;
		left:16px;
		top:3px;
	}
	
	#menu-client nav .billing-info {
		width:98px;
		height:52px; 
		background: url(../images/cl-btn_billing-info.jpg)  no-repeat;
		left:213px; 
		top:3px;
	}
	
	#menu-client nav .billing-info_activo {
		width:98px; 
		height:52px; 
		background: url(../images/cl-btn_billing-info.jpg) 0 -52px no-repeat;
		left:213px;
		top:3px;
	}
	
	#menu-client nav .test-information {
		width:146px;
		height:52px; 
		background: url(../images/cl-btn_test-information.jpg)  no-repeat;
		left:391px; 
		top:3px;
	}
	
	#menu-client nav .test-information_activo {
		width:146px; 
		height:52px; 
		background: url(../images/cl-btn_test-information.jpg) 0 -52px no-repeat;
		left:391px;
		top:3px;
	}
	
	#menu-client nav .device-history {
		width:122px;
		height:52px; 
		background: url(../images/cl-btn_device-history.jpg)  no-repeat;
		left:606px; 
		top:3px;
	}
	
	#menu-client nav .device-history_activo {
		width:122px; 
		height:52px; 
		background: url(../images/cl-btn_device-history.jpg) 0 -52px no-repeat;
		left:606px;
		top:3px;
	}
	
	#menu-client nav .inspector-data {
		width:127px;
		height:52px; 
		background: url(../images/cl-btn_inspector-data.jpg)  no-repeat;
		left:789px; 
		top:3px;
	}
	
	#menu-client nav .inspector-data_activo {
		width:127px; 
		height:52px; 
		background: url(../images/cl-btn_inspector-data.jpg) 0 -52px no-repeat;
		left:789px;
		top:3px;
	}
	
	
	
	
/* step1 */				

.page-step1 #container {
	margin: 0px auto;
	background-position:center;
}

	.page-step1 #container #main {
		width: 953px;
		margin: 30px 0px 0px 0px;
		display:block;
		position:relative;
		float: left;
	}
	
		.page-step1 #container #main .text {
			width: 491px;
			margin: 0px 231px 0px 230px;
			text-align:center;
			display:block;
			position:relative;
			float: left;
		}

			.page-step1 #container #main .text p {
				font:normal 16px robotoregular, Geneva, sans-serif;
				color: #2a2b2d;
				line-height:19px;
				text-align:center;
			}
			
			.page-step1 #container #main .text .negrita {
				font:normal 16px robotobold, Geneva, sans-serif;
				color: #2a2b2d;
				line-height:19px;
				text-align:center;
			}
			
			.page-step1 #container #main .text .quest {
				width: 12px;
				height:18px;
				margin: -20px 0px 0px 378px;
				display:block;
				position:relative;
				float: left;
			}
			
		.page-step1 #container #main .btn {
			width:160px;
			margin:18px 395px 100px 398px;
			display:block;
			position:relative;
			float: left;
		}
		
			
		/*	.page-step1 #container #main .btn input.file {
				width:128px;
				height:37px;
				border:none;
				background:url(../images/step1-btn-upload.jpg) 0 0px no-repeat;
				cursor:pointer;
				margin:0px 0px 0px 0px;
				padding:0px 0px 0 0px;
		}
		
		.page-step1 #container #main .btn input.file #upload {
			padding:0 0px 0px 0px;
			display:block;
			position:relative;
			float:left;
			
		} */	
		
		.page-step1 #container #main .btn .custom-input-file {
			overflow: hidden;
			position: relative;
			cursor: pointer;
		}
			.page-step1 #container #main .btn .custom-input-file .input-file {
				margin: 0;
				padding: 0;
				outline: 0;
				font-size: 10000px;
				border: 10000px solid transparent;
				opacity: 0;
				filter: alpha(opacity=0);
				position: absolute;
				right: -1000px;
				top: -1000px;
				cursor: pointer;
			}
			
			.page-step1 #container #main .btn .custom-input-file .upload {
				width:128px;
				height:37px;
				border:none;
				background:url(../images/step1-btn-upload.jpg) 0 0px no-repeat;
		}
			
			.page-step1 #container #main .btn .mas {
				width: 20px;
				height:20px;
				margin: -34px 0px 0px 140px;
				display:block;
				position:relative;
				float: left;
			}

	
/* step2 */		
	

.page-step2 #container {
	margin: 0px auto;
	background-position:center;
}

	.page-step2 #container #main {
		width: 953px;
		margin: 30px 0px 0px 0px;
		display:block;
		position:relative;
		float: left;
	}
	
		.page-step2 #container #main .stform {
			width: 800px;
			margin: 0px 137px 0px 16px;
			text-align:center;
			display:block;
			position:relative;
			float: left;
		}
		
		
		.page-step2 #container #main .stform .form-botonera nav {
			width: 433px;
			height:58px;
			margin:15px 0px 0px 16px;
			background:url(../images/step2-botonera.jpg) 0 0 no-repeat;
			display:block;
			position:relative;
			float:left;
			list-style:none;
		}
		
		.page-step2 #container #main .stform .form-botonera nav span {
			display:none;
			position:absolute;
		}
		
		.page-step2 #container #main .stform .form-botonera nav a {
			display:block;
			text-indent:-9000%; 
			position:absolute;
			outline:none;
		}
		
		.page-step2 #container #main .stform .form-botonera nav a:hover {
		   background-position: 0 -39px; 
		}
	
		.page-step2 #container #main .stform .form-botonera nav .testsite {
			width:181px;
			height:39px; 
			background: url(../images/step2-btn-testsiteinformation.jpg)  no-repeat;
			left:0px; 
			top:20px;
		}
		
		.page-step2 #container #main .stform .form-botonera nav .testsite_activo {
			width:181px; 
			height:39px; 
			background: url(../images/step2-btn-testsiteinformation.jpg) 0 -39px no-repeat;
			left:0px;
			top:20px;
		}
		
		.page-step2 #container #main .stform .form-botonera nav .reporting {
			width:205px;
			height:39px; 
			background: url(../images/step2-btn-reportingrequeriments.jpg)  no-repeat;
			left:227px; 
			top:20px;
		}
		
		.page-step2 #container #main .stform .form-botonera nav .reporting_activo {
			width:205px; 
			height:39px; 
			background: url(../images/step2-btn-reportingrequeriments.jpg) 0 -39px no-repeat;
			left:227px;
			top:20px;
		}

			.page-step2 #container #main .stform .form-pp {
				width: 600px;
				margin: 0px 137px 0px 216px;
				text-align:left;
				display:block;
				position:relative;
				float: left;
		}
		
				.page-step2 #container #main .stform .form-pp .btn {
					width:230px;
					height:18px;
					padding:12px 12px 12px;
					margin:0px 11px 0px 0px;
					border:1px solid #cbcbcb;
					background: #f8f8f8;
					display:block;
					position:relative;
					float: left;
					
				}
				
					.page-step2 #container #main .stform .form-pp .btn  span {
						
						text-align:left;
						font:normal 14px HelveticaNeueLTStdRegular, Geneva, sans-serif;
						color: #2a2b2d;
					}
				
		
				
		.page-step2 #container #main .stform .form-sp {
				width: 800px;
				margin: 20px 0px 30px 0px;
				text-align:left;
				display:block;
				position:relative;
				float: left;
		}
		
				.page-step2 #container #main .stform .form-sp input.box {
					width:230px;
					height:16px;
					margin:0px 7px 10px 0px;
					padding:12px 12px 12px;
					border:1px solid #cbcbcb;
					background: #FFF;
					text-align:left;
					font:normal 14px robotolight, Geneva, sans-serif;
					color: #060807;
					overflow:auto;
				}
				
				.page-step2 #container #main .stform .form-sp input.box:focus {
					border:1px solid #cbcbcb;
					background: #FFF;
				}
				
				.page-step2 #container #main .stform .form-sp input.box2 {
					width:97px;
					height:16px;
					margin:0px 7px 10px 0px;
					padding:12px 12px 12px;
					border:1px solid #cbcbcb;
					background: #FFF;
					text-align:left;
					font:normal 14px robotolight, Geneva, sans-serif;
					color: #060807;
					overflow:auto;
				}
                                
				.page-step2 #container #main .stform .form-sp input.box2:focus {
					border:1px solid #cbcbcb;
					background: #FFF;
				}
				
				.page-step2 #container #main .stform .form-sp input.box3 {
					width:97px;
					height:16px;
					margin:0px 6px 10px 0px;
					padding:12px 12px 12px;
					border:1px solid #cbcbcb;
					background: #FFF;
					text-align:left;
					font:normal 14px robotolight, Geneva, sans-serif;
					color: #060807;
					overflow:auto;
				}
				
				.page-step2 #container #main .stform .form-sp input.box3:focus {
					border:1px solid #cbcbcb;
					background: #FFF;
				}
				
				.page-step2 #container #main .stform .form-sp textarea.box {
					width:764px;
					height:95px;
					margin:0px 0px 10px 0px;
					padding:12px 12px 12px;
					border:1px solid #cbcbcb;
					background: #FFF;
					text-align:left;
					font:normal 14px robotolight, Geneva, sans-serif;
					color: #060807;
					overflow:auto;
				}
				
				.page-step2 #container #main .stform .form-sp textarea.box:focus {
					border:1px solid #cbcbcb;
					background: #FFF;
				}
				
				.page-step2 #container #main .stform .form-sp .ckeck-mgn {
						width: 800px;
						margin: 3px 0px 15px 0px;
						text-align:left;
						display:block;
						position:relative;
						float: left;
				}
				
				.page-step2 #container #main .stform .form-sp label {
					font:normal 14px robotolight, Geneva, sans-serif;
					color: #060807;
					line-height:17px;
					text-align:left;
					margin:0 0 0 5px;
		}
				.page-step2 #container #main .stform .form-sp input.submit {
					width:128px;
					height:37px;
					border:none;
					background:url(../images/step2-btn-savechanges.jpg) 0 0px no-repeat;
					cursor:pointer;
					margin:15px 0px 0px 0px;
					padding:0px 0px 0 0px;
			}
			
				.page-step2 #container #main .stform .form-sp input.submit #upload {
					padding:0 0px 0px 0px;
					display:block;
					position:relative;
					float:left;
				}
				

				


/* step3 */				

.page-step3 #container {
	margin: 0px auto;
	background-position:center;
}

	.page-step3 #container #main {
		width: 953px;
		margin: 30px 0px 0px 0px;
		display:block;
		position:relative;
		float: left;
	}
	
		.page-step3 #container #main .text {
			width: 918px;
			margin: 0px 19px 0px 16px;
			text-align:center;
			display:block;
			position:relative;
			float: left;
		}

			.page-step3 #container #main .text p {
				font:normal 16px robotoregular, Geneva, sans-serif;
				color: #2a2b2d;
				line-height:19px;
				text-align:left;
			}
			
			.page-step3 #container #main .text .negrita {
				font:normal 16px robotobold, Geneva, sans-serif;
				color: #2a2b2d;
				line-height:19px;
				text-align:left;
			}
			
		.page-step3 #container #main .btn {
			width:160px;
			margin:18px 395px 100px 398px;
			display:block;
			position:relative;
			float: left;
		}
		
			.page-step3 #container #main .btn input.submit {
				width:128px;
				height:37px;
				border:none;
				background:url(../images/step3-btn-preview.jpg) 0 0px no-repeat;
				cursor:pointer;
				margin:0px 0px 0px 0px;
				padding:0px 0px 0 0px;
		}
		
		.page-step3 #container #main .btn input.submit #preview {
			padding:0 0px 0px 0px;
			display:block;
			position:relative;
			float:left;
		}
		
/* step4 */				

.page-step4 #container {
	margin: 0px auto;
	background-position:center;
}

	.page-step4 #container #main {
		width: 953px;
		margin: 30px 0px 0px 0px;
		display:block;
		position:relative;
		float: left;
	}
	
		.page-step4 #container #main .text {
			width: 918px;
			margin: 0px 19px 0px 16px;
			text-align:center;
			display:block;
			position:relative;
			float: left;
		}

			.page-step4 #container #main .text h1 {
				font:normal 24px robotobold, Geneva, sans-serif;
				color: #2a2b2d;
				line-height:27px;
				text-transform:uppercase;
				text-align:left;
				margin-bottom:14px;
			}
			
			.page-step4 #container #main .text p {
				font:normal 14px robotoregular, Geneva, sans-serif;
				color: #2a2b2d;
				line-height:17px;
				text-align:left;
				margin-bottom:14px;
			}
			
			.page-step4 #container #main .text .negrita {
				font:normal 14px robotobold, Geneva, sans-serif;
				color: #2a2b2d;
				line-height:17px;
				text-align:left;
				margin-bottom:14px;
			}
			
			.page-step4 #container #main .text .negrita a {
				font:normal 14px robotobold, Geneva, sans-serif;
				color: #2a2b2d;
				text-decoration:none;
				line-height:17px;
				text-align:left;
				margin-bottom:14px;
			}
			
			.page-step4 #container #main .text .negrita a:hover {
				font:normal 14px robotobold, Geneva, sans-serif;
				color: #2a2b2d;
				text-decoration:none;
				line-height:17px;
				text-align:left;
				margin-bottom:14px;
			}
			
		.page-step4 #container #main .btn {
			width: 918px;
			margin: 18px 19px 50px 16px;
			display:block;
			position:relative;
			float: left;
		}
		
			.page-step4 #container #main .btn label {
				font:normal 14px robotobold, Geneva, sans-serif;
				color: #060807;
				line-height:17px;
				text-transform:uppercase;
				text-align:left;
				margin:0 0 0 5px;
		}
				
/* step5 */				

.page-step5 #container {
	margin: 0px auto;
	background-position:center;
}

	.page-step5 #container #main {
		width: 953px;
		margin: 30px 0px 0px 0px;
		display:block;
		position:relative;
		float: left;
	}
	
		.page-step5 #container #main .text {
			width: 918px;
			margin: 0px 19px 0px 16px;
			text-align:center;
			display:block;
			position:relative;
			float: left;
		}

			.page-step5 #container #main .text h1 {
				font:normal 24px robotobold, Geneva, sans-serif;
				color: #2a2b2d;
				line-height:27px;
				text-transform:uppercase;
				text-align:left;
				margin-bottom:14px;
			}
			
			.page-step5 #container #main .text p {
				font:normal 14px robotoregular, Geneva, sans-serif;
				color: #2a2b2d;
				line-height:17px;
				text-align:left;
				margin-bottom:14px;
			}
			
			.page-step5 #container #main .text .negrita {
				font:normal 14px robotobold, Geneva, sans-serif;
				color: #2a2b2d;
				line-height:17px;
				text-align:left;
				margin-bottom:14px;
			}
			
			.page-step5 #container #main .text .negrita a {
				font:normal 14px robotobold, Geneva, sans-serif;
				color: #2a2b2d;
				text-decoration:none;
				line-height:17px;
				text-align:left;
				margin-bottom:14px;
			}
			
			.page-step5 #container #main .text .negrita a:hover {
				font:normal 14px robotobold, Geneva, sans-serif;
				color: #2a2b2d;
				text-decoration:none;
				line-height:317px;
				text-align:left;
				margin-bottom:14px;
			}
			
		.page-step5 #container #main .btn {
			width: 918px;
			margin: 18px 19px 50px 16px;
			display:block;
			position:relative;
			float: left;
		}
		
			.page-step5 #container #main .btn input.submit {
				width:128px;
				height:37px;
				border:none;
				background:url(../images/step5-btn-return.jpg) 0 0px no-repeat;
				cursor:pointer;
				margin:0px 0px 0px 0px;
				padding:0px 0px 0 0px;
		}
		
		.page-step5 #container #main .btn input.submit #return {
			padding:0 0px 0px 0px;
			display:block;
			position:relative;
			float:left;
		}
		
/* client-login */				

.page-client-login #container {
	margin: 0px auto;
	background-position:center;
}

	.page-client-login #container #main {
		width: 953px;
		margin: 130px 0px 0px 0px;
		display:block;
		position:relative;
		float: left;
	}
	
		.page-client-login #container #main .form-login {
			width: 270px;
			margin: 0px 0px 0px 342px;
			text-align:center;
			display:block;
			position:relative;
			float: left;
		}

			.page-client-login #container #main .form-login input.box {
					width:218px;
					height:14px;
					margin:0px 0px 11px 0px;
					padding:18px 18px 18px;
					border:1px solid #cbcbcb;
					background: #FFF;
					text-align:left;
					font:normal 14px robotolight, Geneva, sans-serif;
					color: #060807;
					overflow:auto;
				}
				
				.page-client-login #container #main .form-login input.box:focus {
					border:1px solid #cbcbcb;
					background: #FFF;
				}
				
					.page-client-login #container #main .form-login input.submit {
					width:128px;
					height:37px;
					border:none;
					background:url(../images/client-login-btn-login.jpg) 0 0px no-repeat;
					cursor:pointer;
					margin:1px 0px 0px 0px;
					padding:0px 0px 0 0px;
			}
			
				.page-client-login #container #main .form-login input.submit #login {
					padding:0 0px 0px 0px;
					display:block;
					position:relative;
					float:left;
				}
				
		.page-client-login #container #main .form-login .txt {
			width: 270px;
			margin: 14px 0px 0px 0px;
			text-align:center;
			display:block;
			position:relative;
			float: left;
		}
		
			.page-client-login #container #main .form-login .txt p {
				font:normal 12px robotolight, Geneva, sans-serif;
				color: #060807;
				text-align:center;
				line-height:14px;
				text-decoration:none;
			}
			
			.page-client-login #container #main .form-login .txt p a {
				font:normal 12px robotolight, Geneva, sans-serif;
				color: #060807;
				text-align:center;
				line-height:14px;
				text-decoration:underline;
			}
			
			.page-client-login #container #main .form-login .txt p a:hover {
				font:normal 12px robotolight, Geneva, sans-serif;
				color: #060807;
				text-align:center;
				line-height:14px;
				text-decoration:underline;
			}
			
/* client-login: company data */				

.page-company-data #container {
	margin: 0px auto;
	background-position:center;
}

	.page-company-data #container #main {
		width: 953px;
		margin: 64px 0px 0px 0px;
		display:block;
		position:relative;
		float: left;
	}
	
		.page-company-data #container #main .form-cd {
			width: 920px;
			margin: 0px 0px 0px 17px;
			text-align:center;
			display:block;
			position:relative;
			float: left;
		}

			.page-company-data #container #main .form-cd input.box {
					width:218px;
					height:14px;
					margin:10px 72px 0px 0px;
					padding:18px 18px 18px;
					border:1px solid #cbcbcb;
					background: #FFF;
					text-align:left;
					font:normal 14px robotolight, Geneva, sans-serif;
					color: #060807;
					overflow:auto;
				}
				
				.page-company-data #container #main .form-cd input.box:focus {
					border:1px solid #cbcbcb;
					background: #FFF;
				}
			
			.page-company-data #container #main .form-cd input.box2 {
					width:218px;
					height:14px;
					margin:10px 0px 0px 0px;
					padding:18px 18px 18px;
					border:1px solid #cbcbcb;
					background: #FFF;
					text-align:left;
					font:normal 14px robotolight, Geneva, sans-serif;
					color: #060807;
					overflow:auto;
				}
				
				.page-company-data #container #main .form-cd input.box2:focus {
					border:1px solid #cbcbcb;
					background: #FFF;
				}
				
					.page-company-data #container #main .form-cd input.submit {
					width:128px;
					height:37px;
					border:none;
					background:url(../images/cl-company-btn-save-changes.jpg) 0 0px no-repeat;
					cursor:pointer;
					margin:24px 0px 0px 0px;
					padding:0px 0px 0 0px;
			}
			
				.page-company-data #container #main .form-cd input.submit #savechanges {
					padding:0 0px 0px 0px;
					display:block;
					position:relative;
					float:left;
				}
				
	
/* about-norad */				

.page-about-norad #container {
	margin: 0px auto;
	background-position:center;
}

	.page-about-norad #container #main {
		width: 953px;
		margin: 70px 0px 20px 0px;
		display:block;
		position:relative;
		float: left;
	}
	
		.page-about-norad #container #main .info {
			width: 918px;
			margin: 0px 0px 0px 17px;
			text-align:center;
			display:block;
			position:relative;
			float: left;
		}
		
			.page-about-norad #container #main .info .txt {
				width: 458px;
				margin: 0px 0px 0px 0px;
				text-align:center;
				display:block;
				position:relative;
				float: left;
			}
				
				.page-about-norad #container #main .info .txt h1 {
					font:normal 18px robotoregular, Geneva, sans-serif;
					color: #2a2b2d;
					text-align:left;
					line-height:25px;
					text-decoration:none;
					margin:0px 0 15px 0;
				}
				
				.page-about-norad #container #main .info .txt p {
					font:normal 12px robotoregular, Geneva, sans-serif;
					color: #2a2b2d;
					text-align:left;
					line-height:14px;
					text-decoration:none;
					margin:15px 0 0 0;
				}
				
				.page-about-norad #container #main .info .txt .sub {
					font:normal 12px robotoitalic, Geneva, sans-serif;
					color: #060807;
					text-align:left;
					line-height:14px;
					text-decoration:none;
					margin:15px 0 0 0;
				}
			
			.page-about-norad #container #main .info .img {
				width: 354px;
				height:291px;
				margin: 115px 0px 0px 68px;
				display:block;
				position:relative;
				float: left;
			}

			
		
	

/* Footer */
	
	
#push {     
    height: 119px; 
}


footer {
	height:119px;
    margin: 0 auto;
	padding: 0;
	text-align: left;
	width:100%;
	}
	
	footer .container {
		background-position:center;
		background:url(../images/footer-bk.jpg) 0 0 repeat-x;
		margin:auto;
		width:100%;
		height:119px;
		display: block;
		float: left;
		position:relative;
	}
	
	footer .mgn {
		margin: 0 auto;
		width:953px;
		background-position:center;
	}

		
		footer .txt1 {
			display: block;
			float: right;
			position:relative;
			margin:13px 0 0 0px;
			width:953px;
		}
		
			footer .txt1 p {
				font:normal 12px HelveticaNeueLTStdRegular;
				color:#656565;
				line-height:14px;
				text-decoration:none;
				text-align:right;
			}
			
			footer .txt1 p a {
				font:normal 12px HelveticaNeueLTStdRegular;
				color:#656565;
				line-height:14px;
				text-decoration:none;
				text-align:right;
			}
			
			footer .txt1 p a:hover {
				font:normal 12px HelveticaNeueLTStdRegular;
				color:#656565;
				line-height:14px;
				text-decoration:none;
				text-align:right;
			}
		
		footer .txt2 {
			display: block;
			float: left;
			position:relative;
			margin:42px 0 0 18px;
			width:945px;
		}
		
			footer .txt2 p {
				font:normal 12px HelveticaNeueLTStdRegular;
				color:#656565;
				line-height:14px;
				text-decoration:none;
				text-align:left;
			}
			
			footer .txt2 p a {
				font:normal 12px HelveticaNeueLTStdRegular;
				color:#656565;
				line-height:14px;
				text-decoration:none;
				text-align:left;
			}
			
			footer .txt2 p a:hover {
				font:normal 12px HelveticaNeueLTStdRegular;
				color:#656565;
				line-height:14px;
				text-decoration:none;
				text-align:left;
			}
			
