h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.fullwidth {
    width: 100%;
    padding-top: 4rem;
    background-color: #dbdbdb;
}

.timeline {
    width: 100%;
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    background-image: -webkit-linear-gradient(#999999, #999999);
    background-image: linear-gradient(#999999, #999999);
    background-size: 2px 100%;
    background-position: 50% 1rem;
    background-repeat: no-repeat;
}
@media (max-width: 40rem) {
    .timeline {
        background-position: 2rem 0;
    }
}

.timeline .item {
    position: relative;
    display: block;
    width: 50%;
    float: left;
    clear: both;
    margin-top: -1rem;
}
@media (max-width: 40rem) {
    .timeline .item {
        width: 100%;
        float: none;
        margin-top: 0;
        margin-bottom: 3rem;
    }
}
.timeline .item:before {
    content: '';
    position: absolute;
    top: 0.3rem;
    width: 1rem;
    height: 1rem;
    border: 2px solid #999999;
    border-radius: 50%;
    background-color: #e6e6e6;
}
.timeline .item:hover:before {
    background-color: #999999;
}

.timeline .item:first-child {
    margin-top: 0;
}

.timeline .item:nth-child(odd) {
    float: right;
    padding-left: 2rem;
}
.timeline .item:nth-child(odd):before {
    left: -0.5rem;
}

.timeline .item:nth-child(even) {
    padding-right: 2rem;
}
@media (max-width: 40rem) {
    .timeline .item:nth-child(even) {
        padding-right: 0;
        padding-left: 2rem;
    }
}
.timeline .item:nth-child(even):before {
    right: -0.5rem;
}
@media (max-width: 40rem) {
    .timeline .item:nth-child(even):before {
        left: -0.5rem;
    }
}

.timeline .item h2 {
    display: block;
    margin-bottom: 1rem;
}

.timeline .item:nth-child(even) h2 {
    text-align: right;
}
@media (max-width: 40rem) {
    .timeline .item:nth-child(even) h2 {
        text-align: left;
    }
}

.clarification p {
    background: #dbdbdb;
    margin-top: 5em;
    font-size: 24px;
    font-weight: 400;
    line-height: 42px;
    color: #3E4954;
}

.emptystate p {
    background: #dbdbdb;
    font-size: 24px;
    font-weight: 400;
    line-height: 42px;
    font-style: italic;
    color: #3E4954;
}

.accepted {
    color: #4cae4c;
}
