body {
background: #dedede;
}

td {
	font: normal 12px Tahoma, Arial;
	color: #5f6a89;
}

h1, h2, h3, h4, h5 {

    color: #5f6a89;
    margin: 0px;
}


h1 {
    font-size: 31px;
}

h2 {
	font: normal 22px "Times New Roman", Times, serif;
	color: #FFF;
}

h3 {
    font-size: 14px;
}


a {

font: normal 12px Tahoma, Arial;
color: #fb651f;
text-decoration: underline;
}

a:hover {
	font: normal 12px Tahoma, Arial;
	color: #00F;
	text-decoration: none;

}

a.white-link-underline {	
	text-decoration: underline;
	color: #FFFFFF;
}

.white-text{
	color: #ffffff;
	text-decoration: none;
	line-height: normal;
	vertical-align: middle;

}
a.b1
{
font:  14px tahoma, Arial;
color: #fffea0;
text-decoration: none;
padding: 15px;
margin: 0px;

}
.p
{
padding: 0 0 0 20px;
}
.p1
{
padding: 0 0 0 30px;
}
.p2
{
padding: 30px 50px 30px 30px;
}
.bg1
{
background: #000000 url(images/index_10.gif) top no-repeat;
}
.bg2
{
background: #000000 url(images/index_10.gif) top no-repeat;
}
.bord
{
border: 1px solid #c5d85a;
}
.menu 
{
color:#8c247b;
vertical-align:top;
height: 35px;
padding: 10px 0 0 20px;
}
.menu a
{
color:#8c247b;
font: bold 11px  tahoma, Arial;
text-decoration: none;
}


.blye-text-underline {
color: #5a768d;
text-decoration: underline;
}

.blye-text-regular {
color: #5a768d;
text-decoration: none;
}

.yellow-text-regular {
color: #ffb400;
text-decoration: none;
}

.yellow-text-underline {
color: #ffb400;
text-decoration: underline;
}

.orange-text-regular {
color: #fe6b1d;
text-decoration: none;
}

.orange-text-underline {
color: #fe6b1d;
text-decoration: underline;
}
.broun-text-regular {
color: #de4e06;
text-decoration: none;
}

.broun-text-underline {
color: #de4e06;
text-decoration: underline;
}

.red-text-regular {
color: #8c247b;
text-decoration: none;
}

.red-text-underline {
color: #8c247b;
text-decoration: underline;
}
.black-text-regular {
color: #000000;
text-decoration: none;
}

.black-text-underline {
color: #000000;
text-decoration: underline;
}


.gray-text-underline{
color: #7c7c7c;
text-decoration: underline;
}
.gray-text-regular{
color: #7c7c7c;
text-decoration: none;
}

.green-text{
color: #a5b66e;
text-decoration: none;
}

.green-text-underline{
color: #a5b66e;
text-decoration: underline;
}
.white-text h4 {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	color: #FFF;
}
.black-text-regular {
	word-spacing: normal;
	text-align: center;
}
.TitleBlue {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: medium;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #00C;
	background-color: #FFF;
	text-align: center;
}
FormEntry {
	border-right-width: thin;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-right-color: #333;
}
.FormEntrywithline {
	margin-right: 5px;
	padding-right: 5px;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #666;
}
.Disclaimer {
	font-family: "Times New Roman", Times, serif;
}
.regularbodytext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	background-color: #FFF;
}
.centeredimage {
	text-align: center;

}
body p {
	font-style: normal;
}
.leftimage {
}
.TitleBlue table tr .TitleBlue .TitleBlue {
	text-align: left;

}
.TitleBlue table {
	text-align: left;
}
.TitleBlue table {
	text-align: left;
}
.TitleBlue {
	text-align: left;
}
.everythingcentered {
}
